<!-- include libraries(jQuery, bootstrap) -->

<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
    }

	* {
		font-size: 12px;
		font-style: normal;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.tags {
		margin-bottom: 4px;
		margin-top: 4px;
	} 

	.tags .tag {
		margin-top: 1px;
		display: inline-block;
		margin-right: 4px;		
		font-size: 11px;
	}

	.tag .close {
		margin-top: 1px;
		font-size: 11px;
		margin-left: 4px; 
	}

	.tooltip {
		font-style: normal; 
		position: absolute;
		z-index: 1030;
		display: block;
		visibility: visible;
		font-size: 12px;
		line-height: 1.4;
		opacity: 0;
		filter: alpha(opacity=0);
	}
	.tooltip.in {
		opacity: 0.9;
		filter: alpha(opacity=90);
	}
	.tooltip.top {
		margin-top: -3px;
		padding: 5px 0;
	}	

	.tooltip-inner {
		font-size: 11px;
		font-style: normal; 
		max-width: 500px;
		padding: 3px 8px;
		text-align: justify;
		text-decoration: none;
		background-color: #ffffff;
		color: #333333;
		border-radius: 2px;
		webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}	

	form.tab-form-demo .tab-pane {
		margin: 20px 20px;

	</style>

	<script>
		$(document).ready(function () {
			$('[data-toggle="tooltip"]').tooltip();

			$(".tag").on('DOMNodeInserted', function () {
				$('[data-toggle="tooltip"]').tooltip();
			});

			$(".close").on('DOMNodeInserted', function () {
				$('[data-toggle="tooltip"]').tooltip();
			});
		});
	</script>

	<div class="page-header">
		<div class="row">
			<!-- Page header, center on small screens -->
			<h1 class="col-xs-12 col-sm-12 text-center text-left-sm"><br>
				<i class="padding-sm-hr fa fa-arrow-circle-right"></i>MODULO PARA CAMBIAR EL REGISTRO DE PENDIENTE GESTION EIR A PENDIENTE INFORMACIÓN CIUDADANO<span ng-if="solicitud.idSolicitud">Solicitud {{ solicitud.idSolicitud}}</span>
			</h1>
			<div class="col-xs-12 col-sm-12">
				<div class="row">
					<hr class="visible-xs no-grid-gutter-h">
					<div class="visible-xs clearfix form-group-margin"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<!--Panel de Información General-->
		<div class="panel panel-success">
			<div class="panel-heading"><span class="panel-title">
					Formulario para cambiar el estado del registro de Pendiente gestión eir a Pendiente información ciudadano
				</span>
			</div>

			<div class="panel-body">
				<form class="form-group" name="formDatosSolicitud">
					<div class="col-md-12">
						<div class="form-group{{ haveError('descripcion', formDatosSolicitud) ? 'has-error' : ''}} ">
							<label class="control-label" >Observaciones</label>	
							<summernote id="summernote" char-count ta-max-text="20000" ng-required="true" placeholder="Ingrese el contenido" name="solicitud.descripcion" ng-model="solicitud.descripcion"></summernote>						
							<span ng-show="haveError('descripcion', formDatosSolicitud)" class="help-block" >
								Este campo es obligatorio.
							</span>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group{{ haveError('anexo', formDatosSolicitud) ? 'has-error' : ''}} ">
								<label class="control-label" >Anexos</label>							
								<input class="form-control" type="text" ng-model="solicitud.anexo" name="solicitud.anexo" ng-pattern="solicitud.anexo" placeholder="Ingrese los anexos" ng-trim="false">						
								<span ng-show="haveError('anexo', formDatosSolicitud)" class="help-block" >
									Este campo es obligatorio.
								</span>
							</div>
						</div>					
						<div class="col-md-12">
							<div class="form-group  {{ haveError('asunto', formDatosSolicitud) ? 'has-error' : ''}} ">
								<label class="control-label" >Asunto</label>
								<input ng-required="true" required placeholder="Asunto" class="form-control" type="text" ng-model="solicitud.asunto" name="asunto" ng-disabled="estado == 'visualizacion'" />
								<span ng-show="haveError('asunto', formDatosSolicitud)" class="help-block" >
									Este campo es obligatorio.
								</span>
							</div>	
						</div>
						<div class="col-md-12">
							<div class="form-group{{ haveError('idlistarevisor', formDatosSolicitud) ? 'has-error' : ''}}">
								<label class="control-label" >Tipo Revisor</label>
								<select required class="form-control" ng-model="solicitud.idlistarevisor" 
										name="idlistarevisor" >
									<option value="">--Seleccione un Revisor--</option>	
									<option 
										ng-repeat="tipo in listarevisor" 
										ng-selected="tipo.idusuario == solicitud.idlistarevisor"
										value="{{ tipo.idrevisorxtiposolicitud}}" >
										{{ tipo.nombre}} - {{ tipo.tiporevisor}}
									</option>
								</select>
								<span ng-show="haveError('idlistarevisor', formDatosSolicitud)" >
									Este campo es obligatorio.
								</span>
							</div>
						</div>					
						<!--{{ estado | json}}
						{{ formDatosSolicitud.$valid | json  }}-->
						<div class="col-md-12">
							<div class="col-sm-12" style="text-align: right;">
								<button class="btn-link" ng-click="cancelarSolicitud()" >Cancelar</button> 

								<span ng-if="formDatosSolicitud.$valid == true && estado != 'guardado'">
									ó 
									<button ng-disabled="" class="btn btn-primary" ng-click="previsualizarPlantilla()" >Previsualizar >></button>
									<button ng-disabled="" class="btn btn-primary" ng-click="guardarSolicitud()" >Guardar >></button>
								</span>
								<span ng-if="estado == 'guardado'">
									ó 
									<button ng-disabled="" class="btn btn-primary" ng-click="listarTareas()" >Continuar >></button>
								</span>				
							</div>
						</div>	
					</form>
				</div>
			</div>
		</div>

