
<div>
    <div class="col-md-12 col-lg-12">
        <div ng-show="validator.alert.content">
            <div class="alert {{validator.alert.type}} alert-dismissable">
                <i class="fa fa-danger"></i>
                <button type="button" class="close" aria-hidden="true" ng-click="hideAlert()">×</button>
                <b>{{validator.alert.title}}</b>
                <span ng-bind-html="validator.alert.content"></span>
            </div>
        </div>
        <div ng-include="'../bundles/ControlPolicivoBundle/comun/comparendo.tpl.html'" ng-init="idcomparendo=idcomparendo"></div>
        <div class="panel panel-success">
            <div class="panel-heading ">
                <span class="panel-title">Creación de Recibo Acuerdo de Pago</span>
                <div class="panel-heading-controls"></div>
            </div>
            <div class="panel-body">
                <form name="form" id="form" class="" autocomplete="off" novalidate>
                    <!-- INFORMACION DEL PRESUNTO INFRACTOR-->
                    <h4 class="padding-sm no-padding-t padding-xs-hr">
                        <i class="fa fa-id-card text-primary"></i>
                        &nbsp;&nbsp;Información del Comparendo
                    </h4>

                    <div class="row">
                        <div class="form-group col-md-4" ng-class="{'has-error': form.fechaPagoCuota.$touched && form.fechaPagoCuota.$invalid}">
                            <label class="control-label" for="infractor_identificacion">
                                Fecha de Pago Cuota
                                <i class="fa fa-asterisk text-danger" aria-hidden="true"></i>
                            </label>
                            <div>
                                <p class="input-group">
                                  <input type="text" name="fechaPagoCuota" ng-model="recibo.fechaPagoCuota" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                  </span>
                                </p>
                              </div>
                              <p class="help-block" ng-if="form.fechaPagoCuota.$touched && form.fechaPagoCuota.$invalid">La fecha de pago de la cuota es obligatoria.</p>
                        </div>
                        <div class="form-group col-md-4" ng-class="{'has-error': form.fechaPagoCuota.$touched && form.fechaPagoCuota.$invalid}">
                            <label class="control-label" for="infractor_identificacion">
                                Número de Cuota
                                <i class="fa fa-asterisk text-danger" aria-hidden="true"></i>
                            </label>
                            <div>
                                <p class="input-group">
                                  <input type="number" name="numeroCuota" ng-model="recibo.numeroCuota" class="form-control"/>
                                </p>
                              </div>
                              <p class="help-block" ng-if="form.fechaPagoCuota.$touched && form.fechaPagoCuota.$invalid">La fecha de pago de la cuota es obligatoria.</p>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4"  ng-class="{'has-error': form.valorPagoCuota.$touched && form.valorPagoCuota.$invalid}">
                            <label>
                                Valor Pago Cuota
                                <i class="fa fa-asterisk text-danger" aria-hidden="true"></i>
                            </label>
                            <input type="tnumber" min="10000" name="valorPagoCuota" class="form-control" ng-model="recibo.valorCuota" placeholder="Ingrese el nombre" required/>
                            <p class="help-block" ng-if="form.valorPagoCuota.$touched && form.valorPagoCuota.$invalid">El valor del pago de la cuota es obligatorio.</p>
                        </div>
                    </div>
                    <div class="row padding-sm text-right-sm">
                        <input type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="save()" value="Crear Recibo Acuerdo" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>