<script>
    function cerrarModal() {
        $('#modalIngresoDireccion').modal('toggle');
    }
</script>
<div ng-controller="CrearPeticionNomenclaturaCiudadanoCtrl">
    <div id="modalIngresoDireccion" class="modal fade modal-change" role="dialog" aria-hidden="true" ></div>
    
    <div class="col-md-8">
        <div ng-show="validator.alert.content">
            <div class="alert {{validator.alert.type}} alert-dismissable">
                <i class="fa fa-danger"></i>
                <button type="button" class="close" aria-hidden="true" ng-click="hideAlert()">×</button>
                <b>{{validator.alert.title}}</b> <span ng-bind-html="validator.alert.content"></span>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading ">
                <span class="panel-title">Solicitud Certificado de Nomenclatura</span>
                <div class="panel-heading-controls">
                </div>
            </div>
            <div class="panel-body">
                <form name="userForm">                                       
                    <div class="row padding-sm" id="zona">
                        <div class="form-group has-feedback simple" ng-class="{'has-error': validator.zona }">
                            <p class="help-block">{{validator.tipo_busqueda}}</p>
                            <div class="col-md-3">
                                <label class="control-label" for="tipo_busqueda">Seleccione la Zona del Predio:  </label>
                            </div>   
							<div class="col-md-4">
                                <label class="radio-inline"><input type="radio" value="1" ng-click="limpiarNomenclatura()" ng-model="peticion.zona_predio">Urbana</label>
							</div> 							
                            <div class="col-md-4">
                                <label class="radio-inline"><input type="radio" value="2" ng-click="limpiarNomenclatura()" ng-model="peticion.zona_predio">Rural</label>
                            </div>
							             
                            <p class="help-block">{{validator.tipo_busqueda}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group ng-hide col-md-4"
                             ng-show=" peticion.zona_predio == 1"
                             ng-class="{'has-error': validator.predio}">
                            <label class="control-label" for="direccion">Dirección: <i ng-show="loadingNomenclatura" class="fa fa-spinner fa-spin"></i></label>
                            <input type="text"
                                id="BusquedaDireccion"
                                class="form-control input-xlarge"
                                ng-model="peticion.direccion"
                                ng-click="obtenerModalIngresoDireccion()"                                
                                readonly="readonly"
                                placeholder="Ingrese la dirección"
                                data-toggle="tooltip" 
                                title="De clic aquí para ingresar la dirección."
                                autocomplete="off"/>
                            <p class="help-block">{{validator.predio}}</p>
                        </div>  
                        <div class="form-group ng-hide col-md-4"
                             ng-show=" peticion.zona_predio == 1"
                             ng-class="{'has-error': validator.predio}">
                            <label class="control-label" for="direccion">Información Adicional: <i ng-show="loadingNomenclatura" class="fa fa-spinner fa-spin"></i></label>
                            <input type="text"
                                id="BusquedaInformacionAdicional"
                                class="form-control input-xlarge"
                                ng-model="peticion.informacionadicional"
                                ng-click="obtenerModalIngresoDireccion()"                                
                                readonly="readonly"
                                placeholder="Ingrese la dirección"
                                data-toggle="tooltip" 
                                title="De clic aquí para ingresar la dirección."
                                autocomplete="off"/>
                            <p class="help-block">{{validator.predio}}</p>
                        </div>
                        <div class="form-group ng-hide col-md-8"
                             ng-show=" peticion.zona_predio == 2"
                             ng-class="{'has-error': validator.predio}">
                            <label class="control-label" for="informacion_adicional">Localización del Predio: </label>
                            <input type="text"
                                id="BusquedaInformacionAdicional"
                                name="informacion_adicional"
                                ng-model="peticion.informacion_adicional"
                                class="form-control input-xlarge"
                                placeholder="Ingrese la información adicional del Predio"/>
                        </div>                   
                        <div class="form-group has-feedback col-md-4"                             
                             ng-class="{'has-error': validator.codigo_unico  || faltante_codigo_unico!==0}">
                            <label class="control-label" for="codigo_unico">Número Predial Nacional: <i ng-show="loadingNomenclatura" class="fa fa-spinner fa-spin"></i></label>
                            <input type="text"
                                id="NPN"
                                name="NPN"
								ng-readonly="peticion.zona_predio == 1"
                                class="form-control input-xlarge"								
                                ng-model="peticion.codigo_unico"
                                placeholder="Ingrese el código único"
                                ng-maxlength="maxlengthcodigounico"
                                maxlength="{{maxlengthcodigounico}}"
                                data-toggle="tooltip" 
                                title="El numero codigo único contiene 30 caracteres."
                                autocomplete="off"/>
                            <p class="help-block" ng-if="faltante_codigo_unico!==0">Caracteres Faltantes: {{faltante_codigo_unico}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  has-feedback col-md-6" ng-class="{'has-error': validator.codigo_unico  || faltante_numero_predial!==0}">
                            <label class="control-label" for="numero_predial">Número Predial Local: <i ng-show="loadingNomenclatura" class="fa fa-spinner fa-spin"></i></label>
                            <input type="text"
                                id="BusquedaDireccion"
                                class="form-control input-xlarge"
                                ng-model="peticion.numero_predial"  
                                maxlength="{{maxlengthnumeropredial}}"
                                ng-maxlenth="maxlengthnumeropredial"
                                placeholder="Ingrese el numero predial alfanumérico"
                                data-toggle="tooltip" 
                                title="El numero predial Alfanúmerico contiene una letra y doce digitos, en total trece caracteres."
                                autocomplete="off"/>    
                            <p class="help-block" ng-if="faltante_numero_predial!==0">Caracteres Faltantes: {{faltante_numero_predial}}</p>
                        </div>                                                                                 
                        <div class="form-group col-md-6" ng-class="{'has-error': validator.idbarrio}">
                            <label class="control-label" for="barrio">Barrio: <i ng-show="loadingBarrio" class="fa fa-spinner fa-spin"></i></label>
                            <input type="text"
                                id="BusquedaBarrio"
                                class="form-control input-xlarge"
                                ng-model="peticion.idbarrio"                                
                                uib-typeahead="itembarrio as itembarrio.nombre for itembarrio in getBarrios($viewValue)"
                                uib-typeahead-wait-ms="1000"                               
                                uib-typeahead-loading="loadingBarrio"
                                typeahead-on-select="onSelect($item, 'nombre', $label)"
                                uib-typeahead-min-length="3"
                                bs-typeahead 
                                placeholder="Ingrese el nombre del barrio"
                                data-toggle="tooltip" 
                                title="Ingrese las primeras letras del barrio y seleccione uno de la lista."
                                autocomplete="off"/>      
                            <p class="help-block">{{validator.idbarrio}}</p>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="form-group has-feedback simple col-md-12" ng-class="{'has-error': validator.comentario }" >
                            <label class="control-label" for="comentario">Comentario:</label>
                            <textarea rows="4" cols="30" placeholder="Escriba un comentario sobre la petición" ng-model="peticion.comentario" class="form-control" name="comentario" id="comentario"></textarea>
                            <p class="help-block">{{validator.comentario}}</p>
                        </div>
                    </div>
                    <div class="row">
						<div class="form-group has-feedback simple col-md-12"  ng-class="{'has-error': validator.files }" >
							<label class="control-label" for="comentario">Documentos Anexos: Escritura Pública del Predio y Factura de Energía y Acueducto.</label>												
							<input type="file" class="form-control" ng-model="peticion.uploadedfile" name="uploadedfile" file-upload multiple  accept=".doc,.pdf,.rar,.zip,.docx"  data-max-size="2048">
							<table class="table">
								<thead>
									<tr>
										<th width="50%">Nombre Archivo</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in files">
										<td><strong>{{ item.name}}</strong></td>
									</tr>
								</tbody>
							</table>
							<div ng-if="validator.files" class="alert alert-danger">{{validator.files}}</divS>
						</div>
                    </div>					
                    <div class="row padding-sm text-right-sm">
                        <input type="submit" class="btn btn-primary" ng-click="save()" value="Crear Solicitud" />
                        ó
                        <a ui-sref="listar-peticion">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
