<!-- Styles -->
<style type="text/css">
	#wizard-credit-card .tooltip {
		left: auto !important;
		right: 36px !important;
		width: 200px !important;
	}

	.error{
		color: red;
	}

	.error_borde{
		border-color: red;
	}

	.amplificacion{
		width: 206px;
	}

	.titulo_costos{
		text-align: center;
	}

	.tipo-cursor:hover {
		cursor: default !important;
	}

	[class*="malo"] {
		width: 26%;
		padding-top: 9px;
		color:#e86464;
	}

	[class*="bueno"] {
		width: 26%;
		padding-top: 9px;
		color:#5bb55b;
	}

	@media only screen and (min-width: 768px) {
	.inputs_lables{
		width: 70%;   
	}

	.malo{
		width: 70%;
		padding-top: 9px;
		color:#e86464;
	}

	.bueno{
		width: 70%;
		padding-top: 9px;
		color:#5bb55b;
	}

	.amplificacion{
		width: 349px;
	}
	}

	/*
	Coloca el puntero en los números de los wizard
	*/
	.wizard-steps.wizard-go-to-number li span{
		cursor: pointer;
	}

	.theme-cali .nav-tabs > li.active > a, .theme-cali .nav-tabs > li.active > a:hover, .theme-cali .nav-tabs > li.active > a:focus {
		background: #215a9a !important;
		border-bottom: 2px solid #215a9a !important;
	}

	input[type="file"] {
		margin: 0 0 10px;
		padding: 5px 1%;
		border-radius: 3px;
	}

	.principal {
		width: 80%;
		margin: 0 auto;
		padding: 3% 0 6% 0;
		clear: both;
	}

	.clear{clear:both;}

	/* #boton{

		width:120px;
		height:30px;
	} */

	.progress[value] {
		/* Elimino la apariencia por defecto */
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		
		/* Quito el borde que aparece en Firefox */
		border: none;

		/* Añado mis propios estilos */
		/* width: 270px; */
		height: 30px;
		
		
	/* 	Estos estilos solo se aplicaran al fondo de la barra en mozilla */
		overflow:hidden;
		border:1px inset rgb(131, 131, 131);
		background-color:#D8D8D8;
		border-radius: 5px;
	}

	.progress{
		float:left;
	}

	.progress span{
		font-weight:bold;
	}

	/* Compatibilidad de color en Firefox, Chrome y Safari */
	.progress::-moz-progress-bar{ 
		background: rgb(167, 167, 167);
		background: rgba(79,190,113);
		background: -moz-linear-gradient(left, rgb(79,190,113) 0%, rgb(39,184,43) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(79,190,113)), color-stop(100%, rgba(39,184,43)));
		background: -webkit-linear-gradient(left, rgba(79,190,113) 0%, rgba(39,184,43) 100%);
		background: -o-linear-gradient(left, rgba(79,190,113) 0%, rgba(39,184,43) 100%);
		background: -ms-linear-gradient(left, rgba(79,190,113) 0%, rgba(39,184,43) 100%);
		background: linear-gradient(to right, rgba(79,190,113) 0%, rgba(39,184,43) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7AFF4A', endColorstr='#5EFF08', GradientType=1 );	
		border-radius : 5px; 
	} 

	.progress::-webkit-progress-value { 
		background: rgb(167, 167, 167);
		background: rgba(79,190,113);
		background: -moz-linear-gradient(left, rgb(79,190,113) 0%, rgb(39,184,43) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(79,190,113)), color-stop(100%, rgba(39,184,43)));
		background: -webkit-linear-gradient(left, rgba(79,190,113) 0%, rgba(39,184,43) 100%);
		background: -o-linear-gradient(left, rgba(79,190,113) 0%, rgba(39,184,43) 100%);
		background: -ms-linear-gradient(left, rgba(79,190,113) 0%, rgba(39,184,43) 100%);
		background: linear-gradient(to right, rgba(79,190,113) 0%, rgba(39,184,43) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7AFF4A', endColorstr='#5EFF08', GradientType=1 );
		border-radius : 5px; 	

	}
	.progress::-webkit-progress-bar { 
		background-color:#D8D8D8;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
		border-radius : 5px; 
	}
    .d-flex {
        display: flex;
    }
    .btn-inscripcion{
        margin-left: 40px;
    }
	.informativo {
		margin: 5px 0 20px 0;
	}
	.btn-cancel {
		padding-left: 12px;
	}
	@media (max-width: 640px) {
		.btn-solicitud {
        	display: grid;
		}
		.btn-cancel {
			text-align: center;
			padding-left: 0;
			padding-top: 8px;
		}
	}
</style>
<!-- / Styles -->

<!--Cabecera-->
<div class="page-header">
	<h1>
		<i class="fa fa-th-large page-header-icon"></i>&nbsp;&nbsp;Bienvenido
	</h1>
</div> 

<div id="idDivPrincipal" class="col-md-12 col-xs-12">	
    <!-- <div id="idDivPrincipal" class="col-xs-6" ng-show="result_producer == true" >	 -->
    
	<!-- Interfaz para digitar el predio a consultar-->
	<div class="panel panel-success"  ng-show="notificacion_radicado == ''">
        <div class="panel-heading">
            <span class="panel-title">Crear Propiedad Horizontal </span>
            <div class="panel-heading-controls">
                <div class="panel-heading-icon">
                	<i class="fa fa-inbox"></i>
                </div>
            </div>
        </div>
        <div class="panel-body">
			<div class="form-group offset-md-10 col-md-2">
				<label for="expediente">Expediente</label>
				<input type="text" class="form-control" id="expediente" name="expediente">
			</div>

            <div class="col-lg-12 col-md-12 col-12" style="margin-top: 4px; margin-bottom: 20px; border-bottom: 1px solid #00408a;">
				<span class="col-lg-12 col-md-12 col-12" style="font-weight: 600; font-style: italic; font-size: 12px; color: #00408a; padding-left: 0px; margin-bottom: 2px;">
				  DATOS DE LA PROPIEDAD
				</span>
			</div>
			
			<div class="form-group col-md-2">
				<label for="nit">NIT</label>
				<input type="text" class="form-control" id="nit" name="nit" >
			</div>
		
			<div class="form-group col-md-5">
				<label for="nombre">Nombre</label>
				<input type="text" class="form-control" id="nombre" name="nombre" >
			</div>
		
			<div class="form-group col-md-5">
				<label for="direccion">Dirección</label>
				<input type="text" class="form-control" id="direccion" name="direccion" >
			</div>
				
			<div class="form-group col-md-2">
				<label for="numero_escritura_publica">Número Escritura Pública</label>
				<input type="text" class="form-control" id="numero_escritura_publica" name="numero_escritura_publica" >
			</div>
		
			<div class="form-group col-md-3">
				<label for="fecha_escritura_publica">Fecha Escritura Pública</label>
				<input type="text" class="form-control" id="fecha_escritura_publica" name="fecha_escritura_publica" >
			</div>

			<div class="form-group col-md-2">
				<label for="numero_matricula">Número de Matrícula</label>
				<input type="text" class="form-control" id="numero_matricula" name="numero_matricula" >
			</div>
		
			<div class="form-group col-md-3">
				<label for="fecha_certificado_tradicion">Fecha de Certificado de Tradición</label>
				<input type="text" class="form-control" id="fecha_certificado_tradicion" name="fecha_certificado_tradicion" >
			</div>
		
			<div class="form-group col-md-2">
				<label for="notaria">Notaría</label>
				<input type="text" class="form-control" id="notaria" name="notaria" >
			</div>
		
		
			<div class="form-group col-md-2">
				<label for="numero_anotacion">Número de Anotación</label>
				<input type="text" class="form-control" id="numero_anotacion" name="numero_anotacion" >
			</div>
		
			<div class="form-group col-md-3">
				<label for="fecha_anotacion">Fecha de Anotación</label>
				<input type="text" class="form-control" id="fecha_anotacion" name="fecha_anotacion" >
			</div>
		
			
            <div class="col-lg-12 col-md-12 col-12" style="margin-top: 4px; margin-bottom: 20px; border-bottom: 1px solid #00408a;">
				<span class="col-lg-12 col-md-12 col-12" style="font-weight: 600; font-style: italic; font-size: 12px; color: #00408a; padding-left: 0px; margin-bottom: 2px;">
				  PERSONERÍA JURÍDICA
				</span>
			</div>

			<div class="form-group col-md-3">
				<label for="resolucion_personeria_juridica">Resolución </label>
				<input type="text" class="form-control" id="resolucion_personeria_juridica" name="resolucion_personeria_juridica" >
			</div>
		
			<div class="form-group col-md-3">
				<label for="fecha_resolucion_personeria_juridica">Fecha Resolución </label>
				<input type="text" class="form-control" id="fecha_resolucion_personeria_juridica" name="fecha_resolucion_personeria_juridica" >
			</div>
		
			<div class="form-group col-md-6">
				<label for="personeria_juridica_expedida_por">Expedida Por</label>
				<input type="text" class="form-control" id="personeria_juridica_expedida_por" name="personeria_juridica_expedida_por" >
			</div>

			
            <div class="col-lg-12 col-md-12 col-12" style="margin-top: 4px; margin-bottom: 20px; border-bottom: 1px solid #00408a;">
				<span class="col-lg-12 col-md-12 col-12" style="font-weight: 600; font-style: italic; font-size: 12px; color: #00408a; padding-left: 0px; margin-bottom: 2px;">
				  REPRESENTANTE LEGAL
				</span>
			</div>
		
			<div class="form-group col-md-3">
				<label for="nit_empresa_administradora">NIT Empresa Administradora</label>
				<input type="text" class="form-control" id="nit_empresa_administradora" name="nit_empresa_administradora" >
			</div>
		
			<div class="form-group col-md-2">
				<label for="cedula_representante_legal">Cédula</label>
				<input type="text" class="form-control" id="cedula_representante_legal" name="cedula_representante_legal" >
			</div>
		
			<div class="form-group col-md-2">
				<label for="expedida_representante_legal">Expedida en</label>
				<input type="text" class="form-control" id="expedida_representante_legal" name="expedida_representante_legal" placeholder="Ciudad" >
			</div>
			
			<div class="form-group col-md-5">
				<label for="nombre_representante_legal">Nombre</label>
				<input type="text" class="form-control" id="nombre_representante_legal" name="nombre_representante_legal" >
			</div>
		
			<div class="form-group col-md-3">
				<label for="representante_legal_firma">Firma</label>
				<input type="text" class="form-control" id="representante_legal_firma" name="representante_legal_firma" >
			</div>

			<div class="form-group col-md-9">
				<label for="periodo_representante_legal">Período</label>
				<input type="text" class="form-control" id="periodo_representante_legal" name="periodo_representante_legal" >
			</div>

			<div class="form-group col-md-3">
				<label for="resolucion_representante_legal">Resolución</label>
				<input type="text" class="form-control" id="resolucion_representante_legal" name="resolucion_representante_legal" >
			</div>
		
			<div class="form-group col-md-3">
				<label for="fecha_resolucion_representante_legal">Fecha Resolución</label>
				<input type="text" class="form-control" id="fecha_resolucion_representante_legal" name="fecha_resolucion_representante_legal" >
			</div>
		
			<div class="form-group col-md-6">
				<label for="resolucion_expedida_por">Resolución Expedida Por</label>
				<input type="text" class="form-control" id="resolucion_expedida_por" name="resolucion_expedida_por" >
			</div>
		
			<div class="form-group col-md-3">
				<label for="numero_acta">Número de Acta</label>
				<input type="text" class="form-control" id="numero_acta" name="numero_acta" >
			</div>

			<div class="form-group col-md-6">
				<label for="acta_expedida_por">Acta Expedida Por</label>
				<input type="text" class="form-control" id="acta_expedida_por" name="acta_expedida_por" >
			</div>
			
			<!-- <div class="form-group col-md-4 col-xs-12">
				<label for="" class="control-label">Tipo de Persona</label>
				<select class="form-control" ng-class="{'error_borde': notificacion_obligatorio == true }" name="tipopersona" id="tipo_persona" ng-model="tipoPersona" required>
					<option value="">--- Seleccione ---</option>
					<option value="N">Natural</option>
					<option value="J">Juridica</option>
				</select>
                <p ng-show="notificacion_obligatorio == true" class="help-block" style="color: #b94a48;">* Este campo es obligatorio.</p>
			</div> -->

			<div class="form-group col-md-12 col-xs-12 btn-solicitud" style="text-align: center;margin-top: 25px;"> 
			   <input type="button" class="btn btn-primary" forma="#"  value="Crear Propiedad Horizontal" ng-click="crearPH()">
			   <a class="btn-cancel" href="/saul/v2p/?url=\/propiedadhorizontal\/consultar">Cancelar</a>
			</div>
   
        </div>
    </div>
	
	<!-- Interfaz para notificar al usuario sobre las respuestas del servidor -->
	<div class="col-xs-12" ng-show="notificacion_radicado != ''">
		<div class="alert text-justify" role="alert" style="font-size: 16px; margin-top: 10px;">
			{{notificacion_radicado}} <br>
			<a class="btn-cancel" href="/saul/v2p/?url=\/propiedadhorizontal\/consultar">Nueva Consulta</a>
		</div>
	</div>
</div>
