<style type="text/css">
  .css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
</style>
<div id="modalIngresoDireccion" class="modal fade modal-change" role="dialog" aria-hidden="true" ></div>
<div class="page-header">
    <div class="row">
        <!-- Page header, center on small screens -->
        <h1 class="col-xs-12 col-sm-8 text-center text-left-sm">
        	Listado Nomenclaturas
        </h1>
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <hr class="visible-xs no-grid-gutter-h">
                <div class="visible-xs clearfix form-group-margin"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-9">
    <div class="row">
    	<!--Panel de Datos de Solicitud-->
        <div class="panel panel-success" >
            <div class="panel-heading ">
                <span class="panel-title">Proceso de edición de nomenclaturas</span>
                <div class="panel-heading-controls">
                    <i class="padding-sm-hr fa fa-download" style="cursor: pointer;" ng-click="descargarNomenclaturas()" title="Descarga un máximo de 2000 registros" ></i>
                    <i class="padding-sm-hr fa fa-plus" style="cursor: pointer;" ng-click="crearEntidad()" title="Crea una nueva nomenclatura en estado 'Certificada'" ></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!--INICIO TABLA-->
                <div class="table-primary">
                    <table cellpadding="0" cellspacing="0" border="0" class="table-hover table table-bordered dataTable" id="listaSolicitudes" width="100%" role="grid" aria-describedby="listaSolicitudes_info">
                        <thead>
                            <tr>
                                <th></th>
                                <th ng-repeat="header in headers track by $index" class="ui-state-default" style="width: {{header.width}}">
                                    <input type="text" ng-keypress="buscar($event.keyCode)" ng-model="headers[$index].value" class="form-control input-sm" placeholder="{{header.title}}" style="width: 100%;"  ng-if="header.input !== false && !header.options" >
                                    <select ng-keypress="buscar($event.keyCode)" ng-model="headers[$index].value" class="form-control input-sm" ng-options="option.value as option.name for option in header.options" ng-if="header.input !== false && header.options">
                                        <option value=""></option>
                                    </select>
                                </th>
                            </tr>
                            <tr role="row">
                                <th>#</th>
                                <th ng-repeat="header in headers" class="ui-state-default {{header.header_align}}" style="width: {{header.width}}" >
                                    {{header.title}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  class="odd" style="font-weight: bold;" ng-repeat="row in data" ng-class="{'danger': row[rowWarning] === false}">

                                <td>{{(currentPage - 1)*numPerPage+1+$index}}</td>

                                <td ng-repeat="header in headers" class="{{header.body_align}}">
                                    <!--Acciones-->
                                    <span ng-if="header.values" >
                                        <span ng-if="value['link']" ng-repeat="value in header.values" ng-bind-html="'<a target=\''+value['target']+'\' href=\''+value['link']+row['idProcesoCargaNomenclatura']+'\' >'+value['icon']+' </a>'"></span>
                                        <span ng-if="value['click']" ng-repeat="value in header.values" >
                                            <button class="btn-link" ng-bind-html="value['icon']" ng-click="test(value, row)" ></button>
                                        </span>


                                        <i class="fa fa-check" aria-hidden="true" style="cursor: pointer;" ng-click="certificarNomenclatura(row.idnomenclatura)" title="Certificar" ng-if="row.codigo_estado!='certificada'"></i>
                                        <i class="fa fa-trash" aria-hidden="true" style="cursor: pointer;" ng-click="inactivarNomenclatura(row.idnomenclatura)" title="Inactivar"></i>
                                        <i class="fa fa-eraser" aria-hidden="true" style="cursor: pointer;" ng-click="anularNomenclatura(row.idnomenclatura)" title="Anular" ng-if="row.codigo_estado=='certificada'"></i>


                                    </span><span ng-if="header.options" >
                                        <span ng-if="value['link'] && row[value['nameValidate']]==value['value']" ng-repeat="value in header.options" ng-bind-html="'<a target=\''+value['target']+'\' href=\''+value['link']+row['idsolicitud']+'\' >'+value['icon']+' </a>'"></span>
                                        <span ng-if="value['click']&& row[value['nameValidate']]==value['value']" ng-repeat="value in header.options" >
                                            <button class="btn-link" ng-bind-html="value['icon']" ng-click="test(value, row)" ></button>
                                        </span>
                                    </span>
                                    <!-- Valor de Text-->
                                    <span ng-if="header.type === 'text'">
                                        {{ row[header.name] }} {{row[header.name2]}}
                                    </span>
                                    <!-- Valor de Link-->
                                    <span ng-if="header.type === 'link'">
                                        <a href="{{header.link}}{{row[header.name]}}" target="_blank">{{row[header.name]}}</a>
                                    </span>
                                    <!-- Valor de Objeto Fecha-->
                                    <span ng-if="header.type === 'date'">
                                        {{row[header.name].timestamp * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}
                                    </span>
                                    <!-- Valor de Objeto Fecha-->
                                    <span ng-if="header.type === 'map'">
                                        {{ header.hash[row[header.name]]}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                        <td colspan="10" class="currency">
                            <uib-pagination ng-model="currentPage" items-per-page="numPerPage" total-items="totalItems" max-size="5" boundary-links="true" ng-click="actualizarDatos()" first-text="Primero" previous-text="Anterior" next-text="Siguiente" last-text="Último"></uib-pagination>
                        </td>
                        </tfoot>
                    </table>
                    <div>
                        <input placeholder="Registros por Página" type="number" ng-model="numPerPageTemp" ng-keypress="cambiarNumeroPorPagina($event.keyCode)">
                        <span ng-show="data.length>0" >Página {{ currentPage }} / Mostrando del {{ (currentPage - 1)*numPerPage+1}} al {{ (currentPage - 1)*numPerPage+data.length }} de {{totalItems}} en total</span><span ng-hide="data.length>0" >No hay resultados para mostrar</span>
                    </div>
                </div>
        <!--FIN TABLA-->

        
    </div>
</div>

