<style>
    hr {
        margin-top: 0px;
        border-top: 0.2em solid #006c99 !important;
    }
   
 .timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 5%;
    margin-left: -1.5px;
}

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            float:left;
            left: 5%;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: left;
            left: 10%;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 5%;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-panel {
        float: left;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
} 
</style>
<div class="panel">    
    <div class="panel-body col-md-12 col-lg-10">
        <div class="page-header">
            <h1 class="col-xs-12 col-sm-10 text-center text-left-sm">Historial de 
                <strong class="subtitulo">Solicitud</strong>
                <br>
                <small>Muestra el historial de una solicitud.
                </small>
            </h1>
        </div>
        <div class="page-body">
            <h5 class="subtitulo">Solicitante</h5>
            <hr>
            <dl class="row">
                <dt class="col-sm-2">Identificación</dt>
                <dd class="col-sm-4">{{solicitud.solicitante.tipoIdentificacion.tipo}} {{solicitud.solicitante.numidentificacion}}</dd>
            
                <dt class="col-sm-2">Nombre</dt>
                <dd class="col-sm-4">{{solicitud.solicitante.firstName}} {{solicitud.solicitante.lastName}}</dd>
            
                <dt class="col-sm-2">Direccion</dt>
                <dd class="col-sm-4">{{solicitud.solicitante.direccion}}</dd>
            
                <dt class="col-sm-2">Telefono</dt>
                <dd class="col-sm-4">{{solicitud.solicitante.telefono}}</dd>
            
                <dt class="col-sm-2">Email</dt>
                <dd class="col-sm-10">{{solicitud.solicitante.emailAddress}}</dd>
            
            </dl>
            <h5 class="subtitulo">Solicitud</h5>
            <hr>
            <dl class="row">
                <dt class="col-sm-2">Solicitud Id</dt>
                <dd class="col-sm-4">{{solicitud.idsolicitud}}</dd>
            
                <dt class="col-sm-2" ng-show="solicitud.radicado">Radicado</dt>
                <dd class="col-sm-4" ng-show="solicitud.radicado"><a href="https://www.cali.gov.co/aplicaciones/orweb/orweb/principal.php?id={{solicitud.radicado}}" target="_blank">{{solicitud.radicado}}</a></dd>
            
                <dt class="col-sm-2">Estado</dt>
                <dd class="col-sm-4">{{solicitud.estado.nombre}}</dd>
            
                <dt class="col-sm-2">Fecha Creación</dt>
                <dd class="col-sm-4">{{solicitud.fechainicial.timestamp * 1000| date:'yyyy-MM-dd HH:mm:ss'}}</dd>
            </dl>
            <!-- <div class="row">
                <strong>Id Solicitud:</strong> {{solicitud.idsolicitud}}<br>
                <strong>Nombre:</strong> {{solicitud.solicitante.firstName}} {{solicitud.solicitante.lastName}} <br/>
                <strong>Identificación:</strong> {{solicitud.solicitante.numidentificacion}}<br/>
                <strong>Dirección:</strong> {{solicitud.solicitante.direccion}}<br/>
                <strong>Telefono:</strong> {{solicitud.solicitante.telefono}}<br/>
                <strong>Correo:</strong> {{solicitud.solicitante.emailAddress}}<br/>
                <strong>Radicado:</strong> <a title="Haga clic aquí para ver los documentos anexos a este número de Orfeo" target="blank" href="http://www.cali.gov.co/aplicaciones/orweb/orweb/principal.php?id={{solicitud.radicado}}">
                    {{solicitud.radicado}}
                </a><br>
                <strong>Comentario:</strong> {{solicitud.comentario}}
            </div>         -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="timeline" >
                        <li class="timeline-inverted" ng-repeat="movimientosolicitud in solicitudes track by $index">
                            <div class="timeline-badge" ng-class="{'danger':$index%4==0, 'warning':$index%3==0, 'success':$index%2==0}">
                                <i class="glyphicon glyphicon-check" ng-show="movimientosolicitud.estadoactual=='Solicitud parcialmente radicada'"></i>
                                <i class="glyphicon glyphicon-send" ng-show="movimientosolicitud.estadoactual=='Pendiente'"></i>
                                <i class="glyphicon glyphicon-eye-open" ng-show="movimientosolicitud.estadoactual=='Pendiente por Firmar'"></i>
                                <i class="glyphicon glyphicon-saved" ng-show="movimientosolicitud.estadoactual=='Aprobada'"></i>
                                <i class="glyphicon glyphicon-folder-close" ng-show="movimientosolicitud.estadoactual=='Cerrado'"></i>
                            </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{movimientosolicitud.estadoactual}}</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{movimientosolicitud.createdAt.timestamp * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</small></p>
                                <p ng-bind-html="movimientosolicitud.comentario"></p>
                                <p><a title="Haga clic aquí para ver los documentos anexos a este número de Orfeo" target="blank" href="http://www.cali.gov.co/aplicaciones/orweb/orweb/principal.php?id={{movimientosolicitud.radicado}}">
                                    {{movimientosolicitud.radicado}}
                                </a></p>
                            </div>
                            <div class="timeline-body">
                                <i class="fa fa-user-o"></i> {{movimientosolicitud.solicitante.firstName}} {{movimientosolicitud.solicitante.lastName}}
                            </div>
                        </div>
                        </li>
                    </ul>        
                </div>
            </div>              

        </div>

<!-- <div class="col-md-12">
<div class="panel panel-success">
    <div class="panel-heading ">
        <span class="panel-title">Historial de Solicitud</span>
        <div class="panel-heading-controls">
        </div>
    </div>    
    <div class="panel-body">
        <div class="table-primary">
            <table cellpadding="0" cellspacing="0" border="0" class="table-hover table table-bordered dataTable" id="listaSolicitudes" width="100%" role="grid" aria-describedby="listaSolicitudes_info">
                <thead>                   
                    <tr role="row">
                        <th class="text-left ui-state-default sorting" tabindex="0" aria-controls="listaSolicitudes" rowspan="1" colspan="1" style="width: 5%;" aria-label="Tipo Solicitud: ordenar ascendente">No.</th>
                        <th class="text-left ui-state-default sorting" tabindex="0" aria-controls="listaSolicitudes" rowspan="1" colspan="1" style="width: 20%;" aria-label="Tipo Solicitud: ordenar ascendente">Comentario</th>
                        <th class="text-center ui-state-default sorting" tabindex="0" aria-controls="listaSolicitudes" rowspan="1" colspan="1" style="width: 10%;" aria-label="Respuesta: ordenar ascendente">Radicado</th>
                        <th class="text-center ui-state-default sorting" tabindex="0" aria-controls="listaSolicitudes" rowspan="1" colspan="1" style="width: 10%;" aria-label="Radicado: ordenar ascendente">Estado Anterior</th>
                        <th class="text-center ui-state-default sorting" tabindex="0" aria-controls="listaSolicitudes" rowspan="1" colspan="1" style="width: 10%;" aria-label="Radicado: ordenar ascendente">Estado Actual</th>
                        <th class="text-center ui-state-default sorting" tabindex="0" aria-controls="listaSolicitudes" rowspan="1" colspan="1" style="width: 12%;" aria-label="Estado: ordenar ascendente">Funcionario</th>
                        <th class="text-center fecha ui-state-default sorting" tabindex="0" aria-controls="listaSolicitudes" rowspan="1" colspan="1" style="width: 12%;" aria-label="Fecha Inicial: ordenar ascendente">Fecha Realización</th>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row" class="odd" style="font-weight: bold;" ng-repeat="solicitud in solicitudes">    
                        <td class=" text-left">
                            {{solicitud.idmovimientosolicitud}}
                        </td>
                        <td class=" text-left">
                            <p ng-bind-html="solicitud.comentario"></p>
                        </td>
                        <td class=" text-center">
                            <a title="Haga clic aquí para ver los documentos anexos a este número de Orfeo" target="blank" href="http://www.cali.gov.co/aplicaciones/orweb/orweb/principal.php?id={{solicitud.radicado}}">
                                {{solicitud.radicado}}
                            </a>
                        </td>
                        <td class="text-center sorting_1">
                            {{solicitud.estadoanterior}}
                        </td>
                        <td class="text-center sorting_1">
                            {{solicitud.estadoactual}}
                        </td>
                        <td class=" text-center">
                            {{solicitud.solicitante.firstName}} {{solicitud.solicitante.lastName}}
                        </td>
                        <td class=" text-center fecha">
                            {{solicitud.updatedAt.timestamp * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}                           
                        </td>                       
                    </tr>                    
                </tbody>
            </table>
        </div>
    </div>
</div></div> -->