<div class="panel">
    <div class="panel-body">
        <dl class="dl-horizontal"> 
            <div class="page-header">
                <h1 class="col-xs-12 col-sm-10 text-left"><i class="padding-sm-hr fa fa-list-alt"></i>&nbsp;&nbsp;Gestionar Archivos de Licencia</h1>
            </div> 
            <span class="col-md-6">
                <span>
                    <dt>Licencia No.</dt>
                    <dd>{{licencia.idLicencia}}</dd>
                </span>
            </span>
            <span class="col-md-6">
                <span>
                    <dt>Licencia No.</dt>
                    <dd>{{licencia.idLicencia}}</dd>
                </span>
            </span>
            <span class="col-md-6">
                <span>
                    <dt>Propietario</dt>
                    <dd>{{licencia.propietario}}</dd>
                </span>
            </span>
            <span class="col-md-6">
                <span>
                    <dt>Identificación.</dt>
                    <dd>{{licencia.identificacionpropietario}}</dd>
                </span>
            </span>
            <span class="col-md-6">
                <span>
                    <dt>Estado</dt>
                    <dd>{{licencia.estado}}</dd>
                </span>
            </span>
            <span class="col-md-6">
                <span>
                    <dt>Dirección</dt>
                    <dd>{{licencia.direccion}}</dd>
                </span>
            </span>
        </dl>
        <br><br><br>
        <div ng-show="archivosLicencia.length==0" style="margin-top:20px;">
            <div class="alert alert-warning alert-dismissable">
                <i class="fa fa-warning"></i>
                Esta <b>licencia</b> aún no tiene archivos disponibles.
            </div>
        </div>
        <table class="table" style="margin-top:20px">
            <tr>
                <th width="30%">Tipo de Archivo</th>
                <th width="40%">Nombre</th>
                <th width="30%">Acción</th>
            </tr>
            <tr ng-repeat="archivo in archivosLicencia">
                <td>{{archivo.tipoArchivo}}</td>
                <td>{{archivo.nombreArchivo}}</td>
                <td>
                    <a type="button" class="btn btn-primary" href="{{root}}licencia/ver-archivo/{{archivo.id}}" target="_blank">Ver</a>
                    <button ng-if="permisos.eliminararchivos_licenciaurbanistica" class="btn btn-danger" style="margin-left:5px;" ng-click="eliminarArchivo(archivo.id)">Eliminar</a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <select ng-options="tipo as tipo.nombre for tipo in arraytipoArchivo" class="form-control input-sm" ng-model="tipoArchivo">
                            <option ng-value="seleccione">Seleccione</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div  class="form-group" ng-class="{ 'has-error': hasError}" ng-hide="validate==1">
                        <input-file2 description="" model="file" required="true" ></input-file>
                        <p ng-show="hasError" class="help-block">Este campo es obligatorio.</p>
                        
                    </div>
                </td>
                <td>
                    <input type="button" class="btn btn-success col-md-6" value="Guardar" ng-click="cargarArchivo()">
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-body col-md-12" ng-if="data">       
        <div class="table-primary">            
            <table cellpadding="0" cellspacing="0" class="table-hover table table-bordered" id="listaSolicitudes" width="100%" role="grid" aria-describedby="solicitud_listar_tareas">
                <thead>                  
                    <tr role="row">
                        <th ng-repeat="header in headers" class="ui-state-default {{header.sorting}} {{header.header_align}}" style="width: {{header.width}}" ng-click="ordenarPor(headers[$index].name)">
                            {{header.title}}
                        </th>                        
                    </tr>
                </thead>
                <tbody ng-repeat="row in data">                   
                    <tr  class="odd" style="font-weight: bold;"  ng-class="{'danger': row[rowWarning] === false}">
                        <td ng-repeat="header in headers" class="{{header.body_align}}">

                            <!--Acciones-->
                            <span ng-if="header.type === 'action' && header.values" > 
                                <span ng-repeat="action in header.values">
                                    <i class="ver-detalle fa {{action.icon}} pull-left" ng-click="caller(action.action, row['id'])" title="{{action.title}}"></i>
                                </span>
                            </span>

                            <!--Opciones dependientes de valores-->
                            <span ng-if="header.options" >
                                <span ng-repeat="option in header.options" ng-bind-html="option['link']" ng-if="option['value'] == row[option['nameValidate']]"></span>
                            </span>

                            <!-- Valor de Text-->
                            <span ng-if="header.type === 'text' && header.subname==null">
                                {{row[header.name]}} {{row[header.name2]}}
                            </span>

                            <!-- Valor de Text-->
                            <span ng-if="header.type === 'text' && header.subname!==null">
                                {{row[header.name][header.subname]}} 
                            </span>

                            <!-- Valor de Link-->
                            <span ng-if="header.type === 'link'">
                                <a href="{{header.link}}{{row[header.name]}}" target="_blank">{{row[header.name]}}</a>                                
                            </span>

                            <!-- Valor de Objeto Fecha-->
                            <span ng-if="header.type === 'date'">
                                {{row[header.name].timestamp * 1000| date:'yyyy-MM-dd HH:mm:ss'}}
                            </span>

                            <!-- Valor de Objeto Button-->
                            <span ng-if="header.type === 'button'">
                                <button class="btn {{header['style']}}" ng-bind-html="header['title']" ng-click="caller(header['action'], row)" ></button>                                  
                            </span>
                        </td>
                    </tr>   

                    <tr class="odd" ng-class="{'danger': row[rowWarning] === false}" ng-if="rowActive == row['id']">

                            <td colspan="6"> 							
                                    <dl class="dl-horizontal"> 
                                        <span class="col-md-6">
                                            <span>
                                                <dt>Origen</dt>
                                                <dd>{{row.usuario.descripcion}}</dd>
                                            </span>
                                        </span>
                                        <span ng-repeat="(key, value) in row" class="col-md-6">
                                            <span ng-if="esFecha(value)">
                                                <dt>{{key}}</dt>
                                                <dd class="ng-binding">{{value |  date:'yyyy'}}</dd>										
                                            </span>
                                            <span ng-if="esObjeto(value) && !esFecha(value)">
                                                <dt>{{key}}</dt>
                                                <dd class="ng-binding">{{value.timestamp * 1000| date:'yyyy-MM-dd HH:mm:ss'}}</dd>										
                                            </span>
                                            <span ng-if="!esObjeto(value) && (value*1)!==0 && value!=='null' && value!==null">
                                                <dt>{{key}}</dt>
                                                <dd>{{value}}</dd>
                                            </span>
                                        </span>
                                    </span>
                                </td>                        
                    </tr>
                </tbody>
                <tfoot>
                <td colspan="10" class="currency">
                <uib-pagination ng-model="currentPage" total-items="totalItems" max-size="5" boundary-links="true" ng-click="actualizarDatos(currentPage)" first-text="Primera" last-text="Última" next-text="Siguiente" previous-text="Anterior" boundary-link-numbers="true" rotate="true"></uib-pagination>
                </td>
                </tfoot>
            </table>

        </div>
    </div>
</div>
<div class="overlap_espera_2"><i class="fa fa-gear fa-spin fa-2x"></i></div>
