<script>
    function cerrarModal() {
        $('#modalIngresoDireccion').modal('toggle');
    }
</script>
<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
</style>
<div>
    <div id="modalIngresoDireccion" class="modal fade modal-change" role="dialog" aria-hidden="true" ></div>
    <div class="col-md-12">
        <div ng-show="validator.alert.content">
            <div class="alert {{validator.alert.type}} alert-dismissable">
                <i class="fa fa-danger"></i>
                <button type="button" class="close" aria-hidden="true" ng-click="hideAlert()">×</button>
                <b>{{validator.alert.title}}</b> <span ng-bind-html="validator.alert.content"></span>
            </div>
        </div>
	
        <div class="panel panel-success">
            <div class="panel-heading ">
                <span class="panel-title">Cerrar Solicitud Linea de Demarcación No. <strong>{{item.id}}</strong></span>
                <div class="panel-heading-controls">
                </div>
            </div>
            
            <div class="panel-body">
                <form name="userForm"> 
                    <div class="row text-danger" ng-if="item.comentariodevolucion">
                        <div class="form-group has-feedback simple col-md-12">
                            <label class="control-label" for="localización">Comentarios de Devolución:</label>
                            {{item.comentariodevolucion}}
                        </div>
                    </div> 
                    <div class="row">
                        <label class="control-label">Completar la respuesta:</label>
                        <select class="form-control" ng-model="respuestaSeleccionada" ng-options="tipoRespuesta.id as tipoRespuesta.nombre for tipoRespuesta in tiposDeRespuesta" ng-change="obtenerTextoRespuesta(respuestaSeleccionada)" ng-disabled="validator.alert.content==undefined?false:true">
                        </select>
                    </div>
                    <div class="row">
                        <text-angular ng-model="item.textoRespuesta" ta-disabled={{validator.alert.content!==undefined}}></text-angular>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="reviso">Revisó</label>
                            <input type="text"
                                class="form-control input-xlarge"
                                ng-model="item.reviso"
                                name="reviso"
                                ng-disabled="validator.alert.content==undefined?false:true"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-right-sm">
                            <input type="submit" class="btn btn-primary" ng-click="save()" value="Guardar" ng-disabled="validator.alert.content==undefined?false:true"/>
                            <input type="button" class="btn btn-warning" ng-click="previsualizar()" value="Guardar Borrador y Previsualizar" ng-disabled="validator.alert.content==undefined?false:true"/>
                            ó                          
                            <a ui-sref="listar-peticion">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
