<div class="col-sm-12 col-md-10 col-lg-8">
    <div class="panel">
        <div class="panel-body">
            <div class="page-header">
                <h1 class="col-xs-12 col-sm-10 text-center text-left-sm">Orden de Comparendo
                    <strong class="subtitulo"> {{comparendo.expediente}}</strong>
                    <br>
                    <small>
                        {{comparendo.infractor.identificacion}} - {{comparendo.infractor.nombre}} {{comparendo.infractor.apellido}}
                    </small>
                </h1>
            </div>
            <div class="page-body">
                <div ng-include="'../bundles/ControlPolicivoBundle/comun/comparendo.tpl.html'" ng-init="idcomparendo=idcomparendo"></div>    
            </div>
        </div>
    </div>
    <div class="panel" ng-repeat="medida in comparendo.medidasCorrectivas" >
        <div class="panel-body">               
            <div class="page-header">
                <h5>Medida correctiva: <strong class="subtitulo">{{medida.medidaCorrectiva.nombre}}</strong></h5> 
            </div> 
            <div class="page-body">
                <div ng-if="medida.medidaCorrectiva.esEconomica==1"> 
                    <dl class="dl-horizontal">            
                        <dt>Nombre Medida</dt>
                        <dd>{{medida.medidaCorrectiva.nombre}}</dd>
                        <dt>Competencia de</dt>
                        <dd>{{medida.medidaCorrectiva.actores}}</dd>
                        <dt>Valor</dt>
                        <dd>{{medida.medidaCorrectiva.cantidadSmdlv}} SMLV</dd>
                        <dt>Conmutación</dt>                       
                        <dd ng-if="medida.medidaCorrectiva.conmutablePorPedagogia==1">
                            Es conmutable por pedagogía o participación en programa comunitario dentro de los primeros cinco (5) días habiles a la fecha de los hechos del comparendo.<br>
                        </dd>
                        <dd ng-if="medida.medidaCorrectiva.conmutablePorPedagogia==0">
                            <strong>No</strong> es conmutable por pedagogía o participación en programa comunitario.<br>
                        </dd>
                    </dl>               
                 
                    
                    <div class="panel-body">
                        <div class="row" ng-if="expediente == null">
                            <h5><strong class="subtitulo">Generación de expediente</strong></h5>
                            <div class="col-md-12">            
                                <div class="form-group col-md-4">
                                    <label class="control-label" for="consecutivoExpediente">
                                        Consecutivo Inicial de Expedientes
                                    </label>
                                    <input type="number"
                                            id="consecutivoExpediente"
                                            class="form-control input-xlarge"
                                            ng-model="query.consecutivoExpediente"
                                            placeholder="Ingrese consecutivo inicial del expediente"
                                            autocomplete="off"/>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label" for="consecutivoAuto">
                                        Consecutivo Inicial de Auto
                                    </label>
                                    <input type="number"
                                            id="consecutivoAuto"
                                            class="form-control input-xlarge"
                                            ng-model="query.consecutivoAuto"
                                            placeholder="Ingrese consecutivo inicial del Auto"
                                            autocomplete="off"/>
                                </div>
                                <div class="required col-md-4">
                                    <label class="control-label" >Porcentaje reincidencia</label>
                                    <select class="form-control" ng-model="item.reincidencia" required>
                                        <option value="0" selected>0%</option>
                                        <option value="50">50%</option>
                                        <option value="75">75%</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row padding-sm text-right-sm">
                                <button class="btn btn-success" value="Generar" ng-click="generarExpedientesMasivos()" tooltip="Ingrese los cosecutivos para generar" >Generar
                                </button>                                                 
                            </div>                               
                        </div>
                        <div class="row" ng-if="expediente !== null">
                            El expediente se encuentra en estado <strong>{{expediente.estado.nombre}}</strong><br>
                            <div ng-if="expediente.estado.nombre=='Finalizado'">
                                <a class="btn btn-primary" href="{{root}}controlpolicivo/primerainstancia/descargarexpediente/{{expediente.id}}" target="_blank">Descargar</a>
                            </div>                        
                        </div>
                    </div>
                    
                </div>
                <div ng-if="medida.medidaCorrectiva.esEconomica==0">
                    <strong>Nombre Medida:</strong> {{medida.medidaCorrectiva.nombre}}<br>
                    Actores: {{medida.medidaCorrectiva.actores}}<br>
                    El curso pedagógico o actividad pedagogíca se ofrece por la Alcaldía.
                    <a href="">recalcular pedagogía y reenviar Conmutacion Pedagogia En RNMC </a>
                    <ul>
                        <li><a href="">Inscribirse a pedagogía</a></li>
                        <li><a href="">Descargar certificado de inscripción</a></li>
                        <li><a href="">Descargar certificado de asistencia </a></li>
                    </ul>
                </div>
                <div ng-if="medida.medidaCorrectiva.esEconomica==null">
                    <strong>Nombre Medida:</strong> {{medida.medidaCorrectiva.nombre}}<br>
                    Actores: {{medida.medidaCorrectiva.actores}}<br>                
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body">               
            <div class="page-header">
                <h5><strong class="subtitulo">Historico</strong></h5> 
            </div> 
            <div class="page-body">
                <table class="table table-primary table-hover table-bordered">
                    <thead>
                        <th>
                            id
                        </th>
                        <th>
                            Estado Anterior
                        </th>
                        <th>
                            Estado Actual
                        </th>
                        <th>
                            Comentario
                        </th>
                        <th>
                            Fecha Creación
                        </th>
                    </thead>
                    <tr ng-repeat="movimientoComparendo in arrayMovimientoComparendo">
                        <td>
                            {{movimientoComparendo.id}}
                        </td>
                        <td>
                            {{movimientoComparendo.estadoAnterior.nombre}}
                        </td>
                        <td>
                            {{movimientoComparendo.estadoActual.nombre}}
                        </td>
                        <td ng-bind-html="movimientoComparendo.comentario">
                        </td>
                        <td>
                            {{movimientoComparendo.createdAt.timestamp * 1000| date:'yyyy-MM-dd HH:mm:ss'}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


