.estratificacion-wizard-description {
    color: #555555;
    line-height: 14px;
    white-space: normal;
    display: block;
    font-size: 12px;
    font-weight: 400;
    margin-top: 4px;
    position: relative;
}
