<style>
 
    .icon-text {
        position: relative !important;
        margin-left: 0px !important;
        margin-top: 0px !important;
        top: 0px !important;
        display: inline-block;
        background-color: transparent;
    }
</style>
<div id="modalIngresoDireccion" class="modal fade modal-change" role="dialog" aria-hidden="true" ></div>    
<div class="panel">    
    <div class="panel-body col-md-12 col-lg-10">
        <div class="page-header">
            <h1 class="col-xs-12 col-sm-10 text-center text-left-sm">Solicitud de 
                <strong class="subtitulo">Titulación Gratuita de Predios</strong>
                <br>
                <small>Este trámite permite que los Ciudadanos... <a href="https://www.cali.gov.co/vivienda/publicaciones/159780/conozca-condiciones-y-requisitos-para-el-proceso-de-titulacion-gratuita-de-predios-fiscales/" target="_blank">Ver más</a>
                </small>
            </h1>
        </div>
        <div class="note note-info" ng-show="responseSolicitud.success == true">
            <p><strong>Almacenamiento Exitoso</strong></p>
            <p><strong>Solicitud No:</strong> {{responseSolicitud.data.idsolicitud}}</p>
            <p><strong>Estado:</strong>{{responseSolicitud.data.estado.nombre}}: {{responseSolicitud.data.estado.descripcion}}</p>
            <p ng-show="responseSolicitud.data.estado.codigo=='pendiente'"><strong>Radicado</strong> {{responseSolicitud.data.radicado}}</p><br>
            <p>
                <a href="{{root}}solicitud/{{responseSolicitud.data.idsolicitud}}/visualizardoc/{{responseSolicitud.documentoRadicado.idDocumento}}/{{responseSolicitud.documentoRadicado.idSolicitudXDocumento}}" target="_blank">Previsualizar</a>
            </p>
            <p ng-show="responseSolicitud.data.estado.codigo=='pendiente'">
                <a href="https://www.cali.gov.co/aplicaciones/orweb/orweb/principal.php?id={{responseSolicitud.data.radicado}}" target="_blank">Ver Radicado</a>
            </p>
        </div>
        <div class="page-body" ng-show="respuesta.success == false">
        <div class="wizard-wrapper  no-padding col-sm-12" style="width: 100% !important" >
            <ul class="wizard-steps col-sm-12">
                <li data-target="#wizard-account" class="col-md-3" ng-class="{'active': step === 1,'completed':step > 1 }" >
                    <span class="wizard-step-number">1</span>
                    <span class="wizard-step-caption">
                        Solicitante
                        <span class="wizard-step-description">Datos personales del solicitante</span>
                    </span>
                </li>
                <li data-target="#wizard-account" class="col-md-3" ng-class="{'active': step === 2,'completed':step > 2 }">
                    <span class="wizard-step-number">2</span>
                    <span class="wizard-step-caption">
                        Anexos
                        <span class="wizard-step-description">Adjunte los archivos requeridos</span>
                    </span>
                </li>
                <li data-target="#wizard-profile" class="col-md-3"  ng-class="{'active': step === 3,'completed':step > 3 }" >
                    <span class="wizard-step-number">3</span>
                    <span class="wizard-step-caption">
                        Grupo Familiar
                        <span class="wizard-step-description">Ingresar las personas de su grupo familiar</span>
                    </span>
                </li>
                <li data-target="#wizard-credit-card" class="col-md-3"  ng-class="{'active': step === 4,'completed':step > 3 }" >
                    <span class="wizard-step-number">4</span>
                    <span class="wizard-step-caption">
                        Predio
                        <span class="wizard-step-description">Información del Predio a Titular.</span>
                    </span>
                </li>
            </ul> <!-- / .wizard-steps -->
        </div>
           
        
        <div class="col-sm-12" style="margin-top:20px;">
            <div ng-init="step=1" ng-show="step == 1">
                <form class="panel-body" name="formDatosSolicitante" id="formDatosSolicitante">
                    <div class="note">
                        Por favor ingrese los datos personales del solictante. 
                    </div>
                    <div class="row" ng-show="esFuncionario">
                        <div class="col-md-6">
                            <div class="form-group {{ !formDatosSolicitante.idtipodocidentificac.$valid && formDatosSolicitante.idtipodocidentificac.$touched ? 'has-error' : '' }}">
                                <label class="control-label" >Tipo de identificación</label>
                                <select class="form-control" ng-model="solicitud.solicitante.idtipodocidentificacion" ng-options="tipoIdentificacion.idTipoDocIdentificacion as tipoIdentificacion.nombre for tipoIdentificacion in arrayTipoIdentificacion" ng-disabled="seBuscoSolicitante" required>
                                    <option value="">-- Seleccione --</option>
                                </select>
                                <span  class="help-block" ng-show="!formDatosSolicitante.idtipodocidentificac.$valid && formDatosSolicitante.idtipodocidentificac.$touched" >
                                    Este campo es obligatorio.
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group {{ !formDatosSolicitante.numidentificacion.$valid && formDatosSolicitante.numidentificacion.$touched ? 'has-error' : '' }}">
                                <label class="control-label" >Número de Identificación (NIT o CC)</label>
                                <div class="input-group col-md-12">
                                    <input required  
                                        placeholder="Ingrese el número de identificación" class="form-control" type="text" ng-model="solicitud.solicitante.numidentificacion"
                                        name="numidentificacion" ng-disabled="seBuscoSolicitante" />
                                    <a ng-href="" class="input-group-addon" ng-click="validarIdentificacionSolicitante(solicitud.solicitante.idtipodocidentificacion, solicitud.solicitante.numidentificacion)"><i class="fa fa-search fa-2" title="Buscar"></i></a>	
                                </div>
                                <span  class="help-block" ng-show="!formDatosSolicitante.numidentificacion.$valid && formDatosSolicitante.numidentificacion.$touched" >
                                    Este campo es obligatorio.
                                </span>
                            </div>
                        </div>
                        
                    </div>	
                    <div class="row" ng-show="!esFuncionario">
                        <div class="col-md-6">
                            <div class="form-group {{ !formDatosSolicitante.idtipodocidentificac.$valid && formDatosSolicitante.idtipodocidentificac.$touched ? 'has-error' : '' }}">
                                <label class="control-label" >Tipo de identificación</label>
                                <select class="form-control" ng-model="solicitud.solicitante.idtipodocidentificacion" ng-options="tipoIdentificacion.idTipoDocIdentificacion as tipoIdentificacion.nombre for tipoIdentificacion in arrayTipoIdentificacion" required disabled>
                                    <option value="">-- Seleccione --</option>
                                </select>
                                <span  class="help-block" ng-show="!formDatosSolicitante.idtipodocidentificac.$valid && formDatosSolicitante.idtipodocidentificac.$touched" >
                                    Este campo es obligatorio.
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group {{ !formDatosSolicitante.numidentificacion.$valid && formDatosSolicitante.numidentificacion.$touched ? 'has-error' : '' }}">
                                <label class="control-label" >Número de Identificación (NIT o CC)</label>
                                <div class="input-group col-md-12">
                                    <input required  
                                        placeholder="Ingrese el número de identificación" class="form-control" type="text" ng-model="solicitud.solicitante.numidentificacion"
                                        name="numidentificacion" disabled/>	
                                </div>
                                <span  class="help-block" ng-show="!formDatosSolicitante.numidentificacion.$valid && formDatosSolicitante.numidentificacion.$touched" >
                                    Este campo es obligatorio.
                                </span>
                            </div>
                        </div>
                        
                    </div>	
                    <div ng-show="(seBuscoSolicitante && esFuncionario) || !esFuncionario">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group {{ !formDatosSolicitante.firstName.$valid && formDatosSolicitante.firstName.$touched ? 'has-error' : '' }}">
                                    <label class="control-label" >Nombre</label>
                                    <input required placeholder="Nombre del usuario" class="form-control" type="text" ng-model="solicitud.solicitante.firstName" name="firstName" ng-minlength="4" />
                                    <span  class="help-block" ng-show="!formDatosSolicitante.firstName.$valid && formDatosSolicitante.firstName.$touched" >
                                        Este campo es obligatorio y su longitud mínima es de 4. 
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group {{ !formDatosSolicitante.lastName.$valid && formDatosSolicitante.lastName.$touched ? 'has-error' : '' }}">
                                    <label class="control-label" >Apellido</label>
                                    <input required placeholder="Apellido del usuario" class="form-control" type="text" ng-model="solicitud.solicitante.lastName" name="lastName" ng-minlength="4" />
                                    <span  class="help-block" ng-show="!formDatosSolicitante.lastName.$valid && formDatosSolicitante.lastName.$touched" >
                                        Este campo es obligatorio y su longitud mínima es de 4.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row"  ng-show="esFuncionario">
                            <div class="col-md-6">
                                <div class="form-group {{ !formDatosSolicitante.emailAddress.$valid && formDatosSolicitante.emailAddress.$touched ? 'has-error' : '' }}">
                                    <label class="control-label" >Email</label>
                                    <input required placeholder="Email del usuario (Opcional)" class="form-control" type="email" ng-model="solicitud.solicitante.emailAddress" name="emailAddress" ng-minlength="4"  ng-disabled="seEncontroSolicitante"/>
                                    <span  class="help-block" ng-show="!formDatosSolicitante.emailAddress.$valid && formDatosSolicitante.emailAddress.$touched" >
                                        Este campo es obligatorio, su longitud mínima es de 4 y debe ser un mail válido.
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group {{ !formDatosSolicitante.direccion.$valid && formDatosSolicitante.direccion.$touched ? 'has-error' : '' }}">							
                                    <label class="control-label" >Dirección</label>	
                                    <input required placeholder="Dirección de la residencia" class="form-control" type="text" ng-click="obtenerModalIngresoDireccion()" readonly="readonly" ng-model="solicitud.solicitante.direccion" name="direccion" minlength="6"/>								
                                    <span  class="help-block" ng-show="!formDatosSolicitante.direccion.$valid && formDatosSolicitante.direccion.$touched" >		
                                        Este campo es obligatorio y su longitud mínima es de 6.								
                                    </span>
                                </div>						
                            </div>	
                        </div>			
                        <div class="row" ng-if="!esFuncionario && actualizarDireccion==1">
                            <div class="col-md-3">
                                <div class="form-group {{ !formDatosSolicitante.direccion.$valid && formDatosSolicitante.direccion.$touched ? 'has-error' : '' }}">			
                                    <label class="control-label" >Dirección</label>	
                                    <select class="form-control col-md-3" ng-model="solicitud.solicitante.direccion_via" ng-options="tipoVia.estandar as tipoVia.estandar for tipoVia in arrayTipoVia" ng-change="solicitud.solicitante.direccion = establecerDireccion(solicitud.solicitante.direccion_via,solicitud.solicitante.direccion_numero,solicitud.solicitante.direccion_placa,solicitud.solicitante.direccion_complemento)"></select>
                                    <span  class="help-block" ng-show="!formDatosSolicitante.direccion.$valid && formDatosSolicitante.direccion_complemento.$touched" >		
                                        Este campo es obligatorio.								
                                    </span>
                                </div>						
                            </div>
                            <div class="col-md-5">
                                <div class="form-group {{ !formDatosSolicitante.direccion.$valid && formDatosSolicitante.direccion.$touched ? 'has-error' : '' }}">			
                                    <label class="control-label" >&nbsp;</label>
                                    <div class="input-group col-md-12">
                                        <input ng-required="direccionRequerida" placeholder="Número" class="form-control col-md-3" type="text" 
                                        ng-model="solicitud.solicitante.direccion_numero" name="direccion_numero" ng-change="solicitud.solicitante.direccion = establecerDireccion(solicitud.solicitante.direccion_via,solicitud.solicitante.direccion_numero,solicitud.solicitante.direccion_placa,solicitud.solicitante.direccion_complemento)"/>
                                        
                                        <a class="input-group-addon">#</a>
    		
                                        <input  ng-required="direccionRequerida" placeholder="Placa" class="form-control col-md-6" type="text" ng-model="solicitud.solicitante.direccion_placa" name="direccion_placa" ng-change="solicitud.solicitante.direccion = establecerDireccion(solicitud.solicitante.direccion_via,solicitud.solicitante.direccion_numero,solicitud.solicitante.direccion_placa,solicitud.solicitante.direccion_complemento)"/>
                                        
                                    </div>
                                    <span  class="help-block" ng-show="!formDatosSolicitante.direccion.$valid && formDatosSolicitante.direccion_complemento.$touched" >		
                                        Este campo es obligatorio.						
                                    </span>
                                </div>						
                            </div>
                     
                        	
                            <div class="col-md-4">
                                <div class="form-group {{ !formDatosSolicitante.direccion.$valid && formDatosSolicitante.direccion.$touched ? 'has-error' : '' }}">			
                                    <label class="control-label" >&nbsp;</label>
                                    <input placeholder="Complemento" class="form-control col-md-6" type="text" ng-model="solicitud.solicitante.direccion_complemento" name="direccion_complemento" ng-change="solicitud.solicitante.direccion = establecerDireccion(solicitud.solicitante.direccion_via,solicitud.solicitante.direccion_numero,solicitud.solicitante.direccion_placa,solicitud.solicitante.direccion_complemento)"/>
                                    <span  class="help-block" ng-show="!formDatosSolicitante.direccion.$valid && formDatosSolicitante.direccion_complemento.$touched" >		
                                        Este campo es obligatorio y su longitud mínima es de 6.								
                                    </span>
                                </div>						
                            </div>	
                        </div>
                        <div class="row" ng-show="actualizarDireccion==0 && !esFuncionario">    
                            <div class="col-md-12">
                                <div class="note">
                                    Dirección: {{solicitud.solicitante.direccion}}<br><button class="btn btn-xs btn-info" ng-click="actualizarDireccion=1" ng-init="actualizarDireccion=0">Actualizar dirección</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">     
                            <div class="col-md-6">							
                                <div class="form-group {{ !formDatosSolicitante.telefono.$valid && formDatosSolicitante.telefono.$touched ? 'has-error' : '' }}">	
                                    <label class="control-label" >Teléfono</label>
                                    <input  ng-required="direccionRequerida" placeholder="Teléfono" class="form-control" type="text" ng-model="solicitud.solicitante.telefono" name="telefono"/>								
                                    <span  class="help-block" ng-show="!formDatosSolicitante.telefono.$valid && formDatosSolicitante.telefono.$touched" >
                                        Debe colocar un número de teléfono válido.
                                    </span>							
                                </div>						
                            </div>
                        </div>
                        <div class="row padding-sm text-right-sm col-md-12">
                            <input type="button" class="btn btn-warning" ng-click="inicializarDatosSolicitante()" ng-show="esFuncionario" value="Limpiar Datos"/>
                            <input type="button" class="btn btn-primary" ng-disabled="!formDatosSolicitante.$valid" ng-click="step = step + 1" value="Siguiente"/>
                        </div>		
                    </div>	
                </form>	
            </div>
            <!--Tab Documentos Requeridos-->
            <div ng-show="step == 2">
                <div class="note">
                    A continuación podrá adjuntar los documentos anexos requeridos para radicar su solicitud.
                </div>
                <form class="panel-body col-md-10" name="formAdjuntosSolicitud" >               
                        <input-file2 label="Fotocopia de la Identificación" description="Documento de identificación expedido por la Registraduría." model="files.identificacion" name="identificacion" shadow="true" required="false" >
                        </input-file2>
                        
                        <input-file2 label="Acreditación de la ocupación ininterrumpida" description="Puede adjuntar cualquiera de los siguientes documentos: Certificación de residencia emitida por la alcaldía y/o la Junta de Acción Comunal,  Copia de factura o certificación de servicios públicos domiciliarios, en la que figure cualquiera de los miembros del hogar como suscriptor,  Constancia de pago de impuestos prediales a su cargo durante la ocupación, o del acuerdo de pago celebrado con la entidad territorial, Ficha catastral de la mejora registrada por cualquiera de los miembros del hogar, Cualquier otro medio de prueba señalado en el Artículo 165 del Código General del Proceso. " model="files.acreditacionOcupacion" name="acreditacionOcupacion" shadow="true" required="false" >
                        </input-file2>
                        
                        <input-file2 label="Paz y salvo por concepto de impuesto predial" description="Correspondiente a la construcción o mejora." model="files.pazYSalvoImpuesto" name="pazYSalvoImpuesto" required="false" shadow="true" >
                        </input-file2>
                        
                        <input-file2 label="Documentos que acrediten la protocolización de la mejora" description="Fotocopia Protocolización de la mejora, fotocopia documento de compraventa, permuta u otros – si cuenta con varios documentos unirlos en un solo PDF." model="files.protocolizacion" name="protocolizacion" required="false" shadow="true" >
                        </input-file2>
                        
                        <input-file2 label="Acreditación de estado civil" description="Documento de acreditación de estado civil" model="files.acreditacionEstadoCivil" name="acreditacionEstadoCivil" required="false" shadow="true" >
                        </input-file2>
                        
                        <div class="note">
                            Si no cuenta con algún documento que acredite el estado civil, lo podrá obtener en el siguiente enlace <strong><a href="https://www.cancilleria.gov.co/" target="_blank">Descargar Documentación Acreditación de Estado Civil</a></strong>   
                        </div>
        
                    <div class="row padding-sm text-right-sm col-md-12">
                        <input type="button" class="btn btn-primary" ng-click="validarFormAdjuntosSolicitud(formAdjuntosSolicitud)" value="Siguiente"/>
                    </div>
                </form>
                
            </div>
            
            <div ng-show="step == 3">
                <div class="note">
                    Ingese la información de una o más personas de su grupo familiar.
                </div>
                <div class="note note-warning" ng-show="solicitud.arrayFamiliares.length==0">
                    <strong>Atención</strong> <span>Aún no se ha agregado personas del grupo familiar.</span>
                </div>
                <div class="table-primary">
                    <table class="table-hover table table-bordered dataTable" ng-show="solicitud.arrayFamiliares.length>0">
                        <thead>
                            <tr>
                                <th class="col-md-1">Tipo Identificación</th>
                                <th class="col-md-1">Identificación</th>
                                <th class="col-md-2">Nombre</th>
                                <th class="col-md-2">Apellido</th>
                                <th class="col-md-2">Parentesco</th>
                                <th class="col-md-2">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="itemFamiliar in solicitud.arrayFamiliares track by $index">
                                <td>{{itemFamiliar.tipoIdentificacion.tipo}}</td>
                                <td>{{itemFamiliar.identificacion}}</td>
                                <td>{{itemFamiliar.nombre}}</td>
                                <td>{{itemFamiliar.apellido}}</td>
                                <td>{{itemFamiliar.parentesco.nombre}}</td>
                                <td>
                                    <button class="btn btn-primary" ng-click="editarFamiliar($index)"><i class="fa fa-pencil"></i> Editar</button>
                                    <button class="btn btn-danger" ng-click="eliminarFamiliar($index)"><i class="fa fa-trash"></i> Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <form name="formFamiliar" ng-show="agregarFamiliar==true" ng-init="agregarFamiliar=false">
                    <div class="note note-warning" ng-show="solicitud.arrayFamiliares.length==0">
                        <strong>Atención</strong> <span>Por favor diligencia todos los campos del siguiente formulario y luego de clic en Guardar.</span>
                    </div>
                    <div class="form-group required col-md-6 col-md-6">
                        <label class="control-label">Nombre</label>
                        <input required 
                            name="nombreFamiliar"
                            placeholder="Ingrese el nombre" class="form-control"
                            type="text"
                            ng-model="familiar.nombre" 
                        />
                    </div>
                    <div class="form-group required col-md-6">
                        <label class="control-label">Apellido</label>
                        <input required 
                            name="apellidoFamiliar"
                            placeholder="Ingrese el apellido" class="form-control"
                            type="text"
                            ng-model="familiar.apellido" 
                        />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Tipo de Documento</label>
                        <select class="form-control" ng-model="familiar.tipoIdentificacion" ng-options="tipoIdentificacion.nombre for tipoIdentificacion in arrayTipoIdentificacion" required name="tipoDocumentoFamiliar">
                            <option value="">-- Seleccione --</option>
                        </select>
                        <p class="help-block" ng-if="form.idtipodocidentificacion.$touched && form.idtipodocidentificacion.$invalid">Seleccione tipo de identificación.</p>
                    </div>
                    <div class="form-group required col-md-6">
                        <label class="control-label">Identificación</label>
                        <input required  placeholder="Ingrese el número de documento de identificación" class="form-control"
                            type="text" ng-model="familiar.identificacion" name="identificacionFamiliar"
                        />
                    </div>
                    <div class="form-group required col-md-6">
                        <label class="control-label">Parentesco</label>
                        <select class="form-control" ng-model="familiar.parentesco" ng-options="parentesco.nombre for parentesco in arrayParentesco" required name="parentescoFamiliar">
                            <option value="">-- Seleccione --</option>
                        </select>
                    </div>
                    
                    <div class="form-group required col-md-6">
                        <input-file2 label="Documento de Identidad" description="" name="fileIdentificacionFamiliar" model="fileIdentificacionFamiliar"  required="false"></input-file2>
                        <div class="note note-info" ng-show="fileIdentificacionFamiliar.$pristine==true && familiar.filename && !fileIdentificacionFamiliar.file.name || (fileIdentificacionFamiliar.file==null && familiar.filename)">
                            Documento: {{familiar.filename}} 
                        </div>
                    </div>
                    
                    <button class="btn btn-warning" ng-click="cancelarAgregarFamiliar()">
                        <i class="fa fa-close"></i> Cancelar</button>
                    <button class="btn btn-primary" ng-click="guardarFamiliar(familiar)" ng-disabled="!formFamiliar.$valid"><i class="fa fa-plus"></i> Guardar</button>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-success" ng-show="agregarFamiliar==false" ng-click="mostrarFormularioAgregarFamiliar()"><i class="fa fa-plus" ></i> Agregar Integrante del Grupo Familiar</button>
                    </div>
                </div>
                
                <div class="row padding-sm text-right-sm col-md-12" ng-show="agregarFamiliar==false">
                    <input type="button" class="btn btn-info" ng-click="step = step - 1" value="Anterior" />
                    <input type="button" class="btn btn-primary" ng-click="step = step + 1" value="Siguiente" />
                </div>   
            </div>
            
            
            <div ng-show="step == 4">
                <div class="note">
                    Ingese los datos del Predio.
                </div>
                <form class="form-group" name="formPredio" class="form-group {{ (solicitud.npn == '' || solicitud.npn == null)?'has-error':'' }}" >
                    <div class="row">
                        <div class="form-group  col-md-6 {{ !formPredio.lote.$valid && formPredio.lote.$touched ? 'has-error' : '' }}">
                            <label class="control-label">Lote</label>
                            <input  
                                placeholder="Ingrese el lote" class="form-control"
                                type="text"
                                ng-model="solicitud.lote" 
                                name="lote"
                            />
                            <span  class="help-block" ng-show="!formPredio.lote.$valid && formPredio.lote.$touched" >		
                                Este campo es obligatorio .								
                            </span>
                        </div>
                        <div class="form-group  col-md-6 {{ !formPredio.manzana.$valid && formPredio.manzana.$touched ? 'has-error' : '' }}">
                            <label class="control-label">Manzana</label>
                            <input  
                            placeholder="Ingrese la manzana" class="form-control"
                                type="text"
                                ng-model="solicitud.manzana" 
                                name="lote"
                            />
                            <span  class="help-block" ng-show="!formPredio.manzana.$valid && formPredio.manzana.$touched" >		
                                Este campo es obligatorio .								
                            </span>
                        </div>
                    </div>
                    
                     <div class="row">
                        <div class="col-md-3">
                            <div class="form-group required {{ !formPredio.direccion.$valid && formPredio.direccion.$touched ? 'has-error' : '' }}">			
                                <label class="control-label" >Dirección</label>	
                                <select required class="form-control col-md-3" ng-model="solicitud.direccion_via" ng-options="tipoVia.estandar as tipoVia.estandar for tipoVia in arrayTipoVia" ng-change="solicitud.direccion = establecerDireccion(solicitud.direccion_via,solicitud.direccion_numero,solicitud.direccion_placa,solicitud.direccion_complemento)" name="direccion_via"></select>
                                <span  class="help-block" ng-show="!formPredio.direccion_via.$valid && formPredio.direccion_via.$touched" >		
                                    Este campo es obligatorio y su longitud mínima es de 6.								
                                </span>
                            </div>						
                        </div>
                        <div class="col-md-5">
                            <div class="form-group {{ !formPredio.direccion.$valid && formPredio.direccion.$touched ? 'has-error' : '' }}">			
                                <label class="control-label" >&nbsp;</label>
                                <div class="input-group col-md-12">
                                    <input ng-required="direccionRequerida" placeholder="Número" class="form-control col-md-3" type="text" 
                                    ng-model="solicitud.direccion_numero" name="direccion_numero" ng-change="solicitud.direccion = establecerDireccion(solicitud.direccion_via,solicitud.direccion_numero,solicitud.direccion_placa,solicitud.direccion_complemento)"/>
                                    
                                    <a class="input-group-addon">#</a>
        
                                    <input  ng-required="direccionRequerida" placeholder="Placa" class="form-control col-md-6" type="text" ng-model="solicitud.direccion_placa" name="direccion_placa" ng-change="solicitud.direccion = establecerDireccion(solicitud.direccion_via,solicitud.direccion_numero,solicitud.direccion_placa,solicitud.direccion_complemento)"/>
                                </div>
                                <span  class="help-block" ng-show="!formPredio.direccion_numero.$valid && formPredio.direccion_numero.$touched" >		
                                    Este campo es obligatorio y su longitud mínima es de 6.								
                                </span>
                            </div>						
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group {{ !formPredio.direccion.$valid && formPredio.direccion.$touched ? 'has-error' : '' }}">			
                                <label class="control-label" >&nbsp;</label>
                                <input placeholder="Complemento" class="form-control col-md-6" type="text" ng-model="solicitud.direccion_complemento" name="direccion_complemento" ng-change="solicitud.direccion = establecerDireccion(solicitud.direccion_via,solicitud.direccion_numero,solicitud.direccion_placa, solicitud.direccion_complemento)"/>
                                <span  class="help-block" ng-show="!formPredio.direccion_complemento.$valid && formPredio.direccion_complemento.$touched" >		
                                    Este campo es obligatorio y su longitud mínima es de 6.								
                                </span>
                            </div>						
                        </div>	
                    </div>
                    <div class="row">
                        <div class="form-group required col-md-6 {{ !formPredio.npn.$valid && formPredio.npn.$touched ? 'has-error' : '' }}">
                            <label class="control-label">Número Predial Nacional</label>
                            <input required 
                            placeholder="Numero de 30 dígitos" class="form-control"
                                type="text"
                                ng-model="solicitud.npn" 
                                name="npn"
                                min="0"
                                maxlength="30"
                                minlength="30"
                                ui-mask="760019999999999999999999999999"
                                ui-mask-placeholder
                                ui-mask-placeholder-char="_"
                                ui-mask-use-viewvalue="true"
                            />
                            <span  class="help-block" ng-show="!formPredio.npn.$valid && formPredio.npn.$touched" >		
                                Este campo es obligatorio y su longitud es de 30.								
                            </span>
                            <div class="note note-info">
                                Es un código de 30 dígitos que permite identificar un predio.
                            </div>
                        </div>
                        <div class="form-group required col-md-6 {{ !formPredio.predio_id.$valid && formPredio.predio_id.$touched ? 'has-error' : '' }}">
                            <label class="control-label">ID</label>
                            <input required 
                            placeholder="Ingrese el ID" class="form-control"
                                type="text"
                                ng-model="solicitud.predio_id" 
                                name="predio_id"
                            />
                            <span  class="help-block" ng-show="!formPredio.predio_id.$valid && formPredio.predio_id.$touched" >		
                                Este campo es obligatorio .								
                            </span>
                            <div class="note note-info">
                                Este número lo encuentra en la factura de impuesto predial.
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group required required col-md-6  {{ !formPredio.programa_vivienda.$valid && formPredio.programa_vivienda.$touched ? 'has-error' : '' }}">
                            <label class="control-label">Programa de Vivienda</label>
                            <select class="form-control" ng-model="solicitud.programa_vivienda" ng-options="programaVivienda.nombre for programaVivienda in arrayProgramaVivienda" ng-change="solicitud.programa_vivienda_otro=''" required name="programa_vivienda">
                                <option value="">-- Seleccione --</option>
                            </select>
                            <span  class="help-block" ng-show="!formPredio.programa_vivienda.$valid && formPredio.programa_vivienda.$touched" >		
                                Este campo es obligatorio .								
                            </span>
                        </div>
                        <div class="form-group required col-md-6 {{ !formPredio.programa_vivienda_otro.$valid && formPredio.programa_vivienda_otro.$touched ? 'has-error' : '' }}" ng-show="solicitud.programa_vivienda.nombre=='OTRO'">
                            <label class="control-label">Nombre Programa de Vivienda</label>
                            <input ng-required="solicitud.programa_vivienda.nombre=='OTRO'"
                                placeholder="Ingrese el Programa de Vivienda" class="form-control"
                                type="text"
                                ng-model="solicitud.programa_vivienda_otro" 
                                name="programa_vivienda_otro"
                            />
                            <span  class="help-block" ng-show="!formPredio.programa_vivienda_otro.$valid && formPredio.programa_vivienda_otro.$touched" >		
                                Este campo es obligatorio .								
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group required col-md-6  {{ !formPredio.tiempo_ocupacion.$valid && formPredio.tiempo_ocupacion.$touched ? 'has-error' : '' }}">
                            <label class="control-label">Años de Ocupación</label>
                            <input required 
                                placeholder="Ingrese los años de ocupación" class="form-control"
                                type="number"
                                min="0"
                                ng-model="solicitud.tiempo_ocupacion" 
                                name="tiempo_ocupacion"
                            />
                        </div>
                        <span class="help-block" ng-show="!formPredio.tiempo_ocupacion.$valid && formPredio.tiempo_ocupacion.$touched" >		
                            Este campo es obligatorio .								
                        </span>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-12 ">
                            <label class="control-label">Observaciones</label>
                            <textarea class="form-control" ng-model="solicitud.observacion" name="observaciones"></textarea>
                        </div>
                    </div> 
                   
                    <div class="col-sm-12 note">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="solicitud.informacion_veridica"><strong class="subtitulo">Declaramos bajo la gravedad de juramento</strong> que toda la información aquí suministrada es verídica y se entenderá presentada bajo la gravedad de juramento con su suscripción
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-12 note">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="solicitud.acepto_formulario"><strong class="subtitulo">Acepto formulario</strong> y lo firmo virtualmente.</a>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-12 note note-danger" ng-show="solicitud.arrayFamiliares.length==0">
                        <strong>Atención</strong> <span>Para radicar la solicitud debe aceptar la Declaración bajo gravedad de juramento y la firma digital del formulario.</span>
                    </div>
                    <div class="row padding-sm text-right-sm col-md-12">
                        <input type="button" class="btn btn-info" ng-click="step = step - 1" value="Anterior" />
                        <input type="button" class="btn btn-primary" ng-click="saveSolicitud(solicitud)" ng-disabled="!formPredio.$valid" value="Radicar Solicitud"/>
                    </div> 
                </form>    
            </div>
                    
        </div>
        
    </div>
    
</div>
</div>