<style>
	/* Agregar efecto de iluminación */
	#listaSolicitudes tbody tr:hover {
		background-color: #cbfff8;
		/* Color de iluminación (Aliceblue) */
	}

	.modal-md {
		display: none;
		overflow: auto;
		overflow-y: scroll;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1050;
		-webkit-overflow-scrolling: touch;
		outline: 0;
		width: 100%;
		max-width: 90%;
		/* Para evitar que sea demasiado ancho en pantallas pequeñas */
		min-width: 600px;
		/* Tamaño mínimo de 600px */
		margin: 0 auto;
		/* Centrar horizontalmente */
	}
</style>
<div class="panel-body">
	<div class="page-header">
		<h1 class="col-xs-12 col-sm-10 text-center text-left-sm">
			<i class="padding-sm-hr fa fa-list-alt"></i>&nbsp;&nbsp;Cargar archivos Plantillas
		</h1>
	</div>
	<!-- Mostrar "Cargando..." -->
	<div ng-if="cargando"><i class="fa fa-spinner fa-spin"></i> Cargando Registros....</div>
	<!-- {{listar.lista}}-->
	<div ng-if="!cargando" class="panel">
		<div class="panel-body">
			<div class="row col-md-8">
				<h4>Listado de Tipos de Plantillas</h4>
				<table cellpadding="0" cellspacing="0" border="0" class="table-hover table table-bordered dataTable"
				id="listaSolicitudes" width="100%" role="grid">			<thead>
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Ley</th>
							<th>Estado</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in listar.lista">
							<td>{{ item.id }}</td>
							<td>{{ item.nombre }}</td>
							<td>{{ item.ley }}</td>
							<td>{{ item.estado }}</td>
							<td>
								<button class="btn btn-sm btn-primary" class="btn btn-primary"
									ng-click="abrirModalCargarArchivo(item.id)" title="Cargar Archivo">
									<i class="fa fa-upload"></i>
								</button>
								<button class="btn btn-sm btn-warning" ng-if="item.archivos > 0"
									ng-click="verArchivos(item.id)" title="Visualizar Archivo">
									<i class="fa fa-eye"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div ng-if="!listar.lista || listar.lista.length === 0">
					<p>No hay plantillas disponibles para mostrar.</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal para Cargar Archivo -->
	<div class="modal fade" id="modalCargarArchivo" tabindex="-1" role="dialog"
		aria-labelledby="modalCargarArchivoLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalCargarArchivoLabel">Cargar Archivo para Plantilla</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="form-group">
					<label for="archivo">Seleccionar Archivo</label>

					<input type="file" id="archivo" class="form-control"
						onchange="angular.element(this).scope().onArchivoSeleccionado(this.files)" />
					<small class='alert-danger'>Solo se permiten archivos .docx y .xlsx.</small>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary" ng-click="guardarArchivo()"
						ng-disabled="!archivo.archivo || !archivo.idPlantilla">
						Guardar
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal para visualizar archivos -->
	<div class="modal fade" id="modalVerArchivos" tabindex="-1" role="dialog" aria-labelledby="modalVerArchivosLabel">
		<div class="modal-dialog-own-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalVerArchivosLabel">Archivos de la Plantilla</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<!-- Mostrar la lista de archivos -->
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>#</th>
								<th>Nombre del Archivo</th>
								<th>Tipo</th>
								<th>Fecha Creación</th>
								<th>Usuario Elimina</th>
								<th>Fecha Eliminacón</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="archivo in archivos">
								<td>{{ $index + 1 }}</td>
								<td>{{ archivo.nombreArchivo }}</td>
								<td>{{ archivo.tipoArchivo }}</td>
								<td>{{ archivo.fechaCreacion | date:'dd/MM/yyyy HH:mm:ss' }}</td>
								<td>{{ archivo.usuarioElimina }}</td>
								<td>
									<div ng-if="archivo.usuarioElimina">
										{{ archivo.fechaEliminacion | date:'dd/MM/yyyy HH:mm:ss' }}
									</div>
								</td>
								<td>
									<!-- Botón para ver el archivo -->
									<a class="btn btn-info btn-sm"
										href="{{root}}Plantilla/descargar-archivo/{{ +archivo.id }}" target="_blank">
										Descargar
									</a>
									<!-- Botón para eliminar el archivo -->
									<button class="btn btn-sm btn-danger" ng-click="eliminarArchivo(archivo.id)"
										title="Eliminar" ng-if="!archivo.usuarioElimina">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal de Confirmación -->
	<div id="modalConfirmarEliminarArchivo" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Confirmar Eliminación</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p id="mensajeConfirmacionEliminarArchivo">¿Está seguro de que desea eliminar este archivo?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-danger" id="btnConfirmarEliminarArchivo">Eliminar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal de Mensajes -->
	<div id="modalMensaje" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalMensajeTitulo"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="modalMensajeCuerpo">
					<!-- Mensaje dinámico -->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>