<div ng-controller="ControlPolicivoRegistrarAudienciaCitaCtrl">
    <div class="col-md-8">
        <div ng-show="validator.alert.content">
            <div class="alert {{validator.alert.type}} alert-dismissable">
                <i class="fa fa-danger"></i>
                <button type="button" class="close" aria-hidden="true" ng-click="hideAlert()">×</button>
                <b>{{validator.alert.title}}</b> <span ng-bind-html="validator.alert.content"></span>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading ">
                <span class="panel-title">Datos Comparendo/Querella</span>
                <div class="panel-heading-controls">
                </div>
            </div>
            <table class="table table-striped table-bordered ">
                <tr>
                    <td>Solicitante</td>
                    <td>{{comparendo.solicitante.identificacion}}</td>
                    <td>{{comparendo.solicitante.nombre}}</td>
                    <td>{{comparendo.solicitante.apellido}}</td>
                </tr>
                <tr>
                    <td>Infractor</td>
                    <td>{{comparendo.infractor.identificacion}}</td>
                    <td>{{comparendo.infractor.nombre}}</td>
                    <td>{{comparendo.infractor.apellido}}</td>
                </tr>
                <tr>
                    <td>Hechos</td>
                    <td colspan="3">{{comparendo.hechos}}</td>
                </tr>
                <tr>
                    <td>Observaciones</td>
                    <td colspan="3">{{comparendo.observaciones}}</td>
                </tr>
                <tr>
                    <td>Radicado</td>
                    <td colspan="3"><a href="http://www.cali.gov.co/aplicaciones/orweb/orweb/principal.php?id={{comparendo.solicitud.radicado}}">{{comparendo.solicitud.radicado}}</a></td>
                </tr>
            </table>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading ">
                <span class="panel-title">Registrar Audiencia</span>
                <div class="panel-heading-controls">
                </div>
            </div>

            <div class="panel-body">
                <form name="userForm">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="informacion_adicional">El infractor se presento?</label>
                            <select class="form-control"
                                    ng-model="audiencia.sePresentoInfractor"
                                    autofocus>
                                <option value="">-- Seleccione --</option>
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6" ng-if="audiencia.sePresentoInfractor==0">
                            <label class="control-label" for="informacion_adicional">Tiene excusa?</label>
                            <select class="form-control"
                                    ng-model="audiencia.tieneExcusa"
                                    autofocus>
                                <option value="">-- Seleccione --</option>
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12" ng-if="(audiencia.sePresentoInfractor==0 && audiencia.tieneExcusa==0) || audiencia.inspeccionEnLugar==0 || audiencia.imponerMedida==0">
                        <div class="form-group">
                            <label class="control-label" for="informacion_adicional">Argumentos</label>
                            <textarea rows="4"
                                      cols="30"
                                      placeholder="Argumentos del Presunto Infractor"
                                      ng-model="audiencia.argumentos"
                                      class="form-control"
                                      name="comentario"
                                      id="comentario">
                            </textarea>
                        </div>
                    </div>

                    <div class="row" ng-if="audiencia.sePresentoInfractor==1">
                        <div class="form-group col-md-6" ng-if="audiencia.sePresentoInfractor==1">
                            <label class="control-label" for="informacion_adicional">Requiere Inspección en Lugar</label>
                            <select class="form-control"
                                    ng-model="audiencia.inspeccionEnLugar"
                                    autofocus>
                                <option value="">-- Seleccione --</option>
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6" ng-if="audiencia.sePresentoInfractor==1 && audiencia.inspeccionEnLugar==1  && audiencia.conceptoTecnico!==2">
                            <label class="control-label" for="informacion_adicional">Requiere Concepto Técnico?</label>
                            <select class="form-control"
                                    ng-model="audiencia.conceptoTecnico"
                                    autofocus>
                                <option value="">-- Seleccione --</option>
                                <option value="1">Si</option>
                                <option value="0">No</option>
                                <option value="2">-</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6" ng-if="audiencia.sePresentoInfractor==1 && audiencia.conceptoTecnico==2">
                            <a href="http://localhost/saul2/app_dev.php/ver_visita/1492" target="_blank">Ver visita</a>
                        </div>
                    </div>
                    <div class="row" ng-if="audiencia.sePresentoInfractor==1 && audiencia.inspeccionEnLugar==0">
                        <div class="form-group col-md-4">
                            <label class="control-label" for="informacion_adicional" >Imponer Medida?</label>
                            <select class="form-control"
                                    ng-model="audiencia.imponerMedida"
                                    autofocus>
                                <option value="">-- Seleccione --</option>
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4"  ng-if="audiencia.sePresentoInfractor==1 && audiencia.imponerMedida==1 ">
                            <label class="control-label" for="informacion_adicional" >El infractor es reincidente?</label>
                            <select class="form-control"
                                    ng-model="audiencia.reincidente"
                                    autofocus>
                                <option value="">-- Seleccione --</option>
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4" ng-if="audiencia.reincidente!=='' && audiencia.sePresentoInfractor==1 && audiencia.imponerMedida==1">
                            <label class="control-label" for="informacion_adicional">Tipo Medida?</label>
                            <select class="form-control"
                                    ng-model="audiencia.tipoMedida"
                                    autofocus>
                                <option value="">-- Seleccione --</option>
                                <option value="1">Economica</option>
                                <option value="2" ng-if="audiencia.reincidente==0">Pedagógica</option>
                            </select>
                        </div>
                    </div>

                    <!--- IMPONER MEDIDA !-->
                    <div class="row" ng-if="(audiencia.sePresentoInfractor==0 && audiencia.tieneExcusa==0) || audiencia.inspeccionEnLugar==0 || audiencia.imponerMedida==0">
                        <div class="form-group col-md-12">
                            <label class="control-label" for="conciliacion">Conciliación</label>
                             <textarea rows="4"
                                      cols="30"
                                      placeholder="Escriba la Conciliación"
                                      ng-model="audiencia.conciliacion"
                                      class="form-control"
                                      name="comentario"
                                      id="comentario">
                            </textarea>
                        </div>
                    </div>
                    <div class="row" ng-if="(audiencia.sePresentoInfractor==0 && audiencia.tieneExcusa==0) || audiencia.inspeccionEnLugar==0 || audiencia.imponerMedida==0">
                        <div class="form-group col-md-12">
                            <label class="control-label" for="recursoReposicion">Recurso de Reposición</label>
                             <textarea rows="4"
                                      cols="30"
                                      placeholder="Escriba el texto del Recurso de Reposición"
                                      ng-model="audiencia.recursoReposicion"
                                      class="form-control">
                            </textarea>
                        </div>
                    </div>
                    <div class="row" ng-if="(audiencia.sePresentoInfractor==0 && audiencia.tieneExcusa==0) || audiencia.inspeccionEnLugar==0 || audiencia.imponerMedida==0">
                        <div class="form-group col-md-12">
                            <label class="control-label" for="recursoApelacion">Recurso de Apelación</label>
                             <textarea rows="4"
                                      cols="30"
                                      placeholder="Escriba el texto del Recurso de Apelación"
                                      ng-model="audiencia.recursoApelacion"
                                      class="form-control">
                            </textarea>
                        </div>
                    </div>
                    <div class="row" ng-if="(audiencia.sePresentoInfractor==0 && audiencia.tieneExcusa==0) || audiencia.inspeccionEnLugar==0 || audiencia.imponerMedida==0">
                        <div class="form-group col-md-12">
                            <label class="control-label" for="pruebas">Pruebas</label>
                             <textarea rows="4"
                                      cols="30"
                                      placeholder="Pruebas"
                                      ng-model="audiencia.pruebas"
                                      class="form-control">
                            </textarea>
                        </div>
                    </div>
                    <div class="row" ng-if="(audiencia.sePresentoInfractor==0 && audiencia.tieneExcusa==0) || audiencia.inspeccionEnLugar==0 || audiencia.imponerMedida==0">
                        <div class="form-group col-md-12">
                            <label class="control-label" for="informacion_adicional">Decisión</label>
                             <textarea rows="4"
                                      cols="30"
                                      placeholder="Escriba la Desición"
                                      ng-model="audiencia.decision"
                                      class="form-control"
                                      name="comentario"
                                      id="comentario">
                            </textarea>
                        </div>
                    </div>
                    <div class="row padding-sm text-right-sm">
                        <input type="submit" class="btn btn-primary" ng-click="save()" value="Guardar" ng-if="!isSuccess"/>
                        ó
                    </div>
                    <a ui-sref="listar-peticion">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
