<!-- Styles -->
<style type="text/css">
	#wizard-credit-card .tooltip {
		left: auto !important;
		right: 36px !important;
		width: 200px !important;
	}

	.error{
		color: red;
	}

	.error_borde{
		border-color: red;
	}

	.amplificacion{
		width: 206px;
	}

	.titulo_costos{
		text-align: center;
	}

	.tipo-cursor:hover {
		cursor: default !important;
	}

	[class*="malo"] {
		width: 26%;
		padding-top: 9px;
		color:#e86464;
	}

	[class*="bueno"] {
		width: 26%;
		padding-top: 9px;
		color:#5bb55b;
	}

	@media only screen and (min-width: 768px) {
	.inputs_lables{
		width: 70%;   
	}

	.malo{
		width: 70%;
		padding-top: 9px;
		color:#e86464;
	}

	.bueno{
		width: 70%;
		padding-top: 9px;
		color:#5bb55b;
	}

	.amplificacion{
		width: 349px;
	}
	}

	/*
	Coloca el puntero en los números de los wizard
	*/
	.wizard-steps.wizard-go-to-number li span{
		cursor: pointer;
	}

	.theme-cali .nav-tabs > li.active > a, .theme-cali .nav-tabs > li.active > a:hover, .theme-cali .nav-tabs > li.active > a:focus {
		background: #215a9a !important;
		border-bottom: 2px solid #215a9a !important;
	}

	input[type="file"] {
		margin: 0 0 10px;
		padding: 5px 1%;
		border-radius: 3px;
	}

	.principal {
		width: 80%;
		margin: 0 auto;
		padding: 3% 0 6% 0;
		clear: both;
	}

	.clear{clear:both;}

	/* #boton{

		width:120px;
		height:30px;
	} */

	.progress[value] {
		/* Elimino la apariencia por defecto */
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		
		/* Quito el borde que aparece en Firefox */
		border: none;

		/* Añado mis propios estilos */
		/* width: 270px; */
		height: 30px;
		
		
	/* 	Estos estilos solo se aplicaran al fondo de la barra en mozilla */
		overflow:hidden;
		border:1px inset rgb(131, 131, 131);
		background-color:#D8D8D8;
		border-radius: 5px;
	}

	.progress{
		float:left;
	}

	.progress span{
		font-weight:bold;
	}

	/* Compatibilidad de color en Firefox, Chrome y Safari */
	.progress::-moz-progress-bar{ 
		background: rgb(167, 167, 167);
		background: rgba(79,190,113);
		background: -moz-linear-gradient(left, rgb(79,190,113) 0%, rgb(39,184,43) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(79,190,113)), color-stop(100%, rgba(39,184,43)));
		background: -webkit-linear-gradient(left, rgba(79,190,113) 0%, rgba(39,184,43) 100%);
		background: -o-linear-gradient(left, rgba(79,190,113) 0%, rgba(39,184,43) 100%);
		background: -ms-linear-gradient(left, rgba(79,190,113) 0%, rgba(39,184,43) 100%);
		background: linear-gradient(to right, rgba(79,190,113) 0%, rgba(39,184,43) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7AFF4A', endColorstr='#5EFF08', GradientType=1 );	
		border-radius : 5px; 
	} 

	.progress::-webkit-progress-value { 
		background: rgb(167, 167, 167);
		background: rgba(79,190,113);
		background: -moz-linear-gradient(left, rgb(79,190,113) 0%, rgb(39,184,43) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(79,190,113)), color-stop(100%, rgba(39,184,43)));
		background: -webkit-linear-gradient(left, rgba(79,190,113) 0%, rgba(39,184,43) 100%);
		background: -o-linear-gradient(left, rgba(79,190,113) 0%, rgba(39,184,43) 100%);
		background: -ms-linear-gradient(left, rgba(79,190,113) 0%, rgba(39,184,43) 100%);
		background: linear-gradient(to right, rgba(79,190,113) 0%, rgba(39,184,43) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7AFF4A', endColorstr='#5EFF08', GradientType=1 );
		border-radius : 5px; 	

	}
	.progress::-webkit-progress-bar { 
		background-color:#D8D8D8;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
		border-radius : 5px; 
	}

</style>
<!-- / Styles -->

<!--Cabecera-->
<div class="page-header">
	<h1>
		<i class="fa fa-th-large page-header-icon"></i>&nbsp;&nbsp;Bienvenido
	</h1>
</div> 

<div id="idDivPrincipal" class="col-xs-6" ng-show="result_producer == true" >	
	<!--Interfaz para los datos del productor-->
	<div class="panel panel-success" style="margin-bottom: 10px;">
        <div class="panel-heading">
            <span class="panel-title"> Datos del Productor  <strong>#{{Productor_CodigoProductor}}</strong></span>
            <div class="panel-heading-controls">
                <div class="panel-heading-icon">
                	<i class="fa fa-user"></i>
                </div>
            </div>
        </div>
        <div class="panel-body">
			<h4 style="font-weight: bold; text-align: center; margin-bottom: 3px;">{{Productor_RazonSocial}}</h4>
			<h6 style="text-align: center; margin-top: 0px;">{{Productor_PaginaWeb}}</h6>
			<div class="col-xs-6">
				<span style="font-weight: bold;">{{Productor_TipoIdentificacion}}</span>
				<br>{{Productor_NumeroIdentificacion}}
			</div>
			<div class="col-xs-6">
				<span style="font-weight: bold;">Teléfono</span>
				<br>{{Productor_Telefono}}
			</div>
			<div class="col-xs-6">
				<span style="font-weight: bold;">Correo</span>
				<br>{{Productor_Correo}}
			</div>
			<div class="col-xs-6">
				<span style="font-weight: bold;">ID Manager</span>
				<br>{{Productor_NumeroIdentificacionRepresentanteLegal}}
			</div>
			<div class="col-xs-12">
				<span style="font-weight: bold;">Manager</span>
				<br>{{Productor_RepresentanteLegal}}
			</div>
        </div>
    </div>

	<!-- Interfaz para digitar el evento-->
	<div class="panel panel-success">
        <div class="panel-heading">
            <span class="panel-title">Consultar Evento </span>
            <div class="panel-heading-controls">
                <div class="panel-heading-icon">
                	<i class="fa fa-inbox"></i>
                </div>
            </div>
        </div>
        <div class="panel-body">
			<div class="panel-body text-justify">
				Señor ciudadano, para crear una solicitud en la ventanilla única de artes escénicas de Cali, por favor coloque el código del evento en la siguiente casilla.    
			</div>
			<div class="form-group">
				<label class="control-label" for="cod_evento">Código del evento</label>
				<input placeholder="Ejemplo:ABC123" minlength="6" maxlength="6" class="form-control" ng-class="{'error_borde': notificacion_obligatorio == true }" type="text" name="codevento" id="cod_evento" ng-model="codigoEvento" required> 	
				<p ng-show="notificacion_obligatorio == true" class="help-block" style="color: #b94a48;">* Este campo es obligatorio.</p>
			</div>
			<input type="button" class="btn btn-primary" value="Consultar Evento" ng-click="validarEvento(codigoEvento)">
        </div>
    </div>
	
	<!-- Interfaz para notificar al usuario sobre las respuestas del servidor -->
	<div class="col-xs-12" ng-show="notificacion_radicado != ''">
		<div class="alert text-justify" role="alert" style="font-size: 16px; margin-top: 10px;">
			{{notificacion_radicado}} 
			<label ng-show="notificacion_radicado_documentos != ''" style="font-weight: unset;">{{notificacion_radicado_documentos}}</label>
			<br>Para mayor información <a href="/saul/solicitud">Ir a Mis Solicitudes</a>
		</div>
	</div>
</div>

<!--Interfaz para los datos del evento-->
<div class="col-md-8 col-xs-12" ng-show="result_event == true" style="margin-bottom: 10px;">	
	<div class="panel panel-success" style="margin-bottom: 10px;">
        <div class="panel-heading">
            <span class="panel-title"> Datos del Evento  <strong>#{{Evento_CodigoEvento}}</strong></span>
            <div class="panel-heading-controls">
                <div class="panel-heading-icon">
                	<i class="fa fa-user"></i>
                </div>
            </div>
        </div>
        <div class="panel-body ">
			<h4 style="font-weight: bold; text-align: center; margin-bottom: 3px;">{{Evento_NombreEvento}}</h4>
			<h6 style="text-align: center; margin-top: 0px;">{{Evento_DireccionWeb}}</h6>
			<div class="col-xs-6 text-justify">
				<span style="font-weight: bold;">Escenario</span>
				<br>{{Evento_NombreEscenario}}
			</div>
			<div class="col-xs-4 text-justify">
				<span style="font-weight: bold;">Tipo Espectaculo</span>
				<br>{{Evento_TipoEspectaculo}}
			</div>
			<div class="col-xs-4 text-justify">
				<span style="font-weight: bold;">Dirección</span>
				<br>{{Evento_DireccionEscenario}}
			</div>
			<div class="col-xs-4 text-justify">
				<span style="font-weight: bold;">Fecha Incio</span>
				<br>{{Evento_FechaInicio}}
			</div>
			<div class="col-xs-4 text-justify">
				<span style="font-weight: bold;">Fecha Fin</span>
				<br>{{Evento_FechaFin}}
			</div>
			<div class="col-xs-4 text-justify">
				<span style="font-weight: bold;">Teléfono</span>
				<br>{{Evento_TelefonoEscenario}}
			</div>
			<div class="col-xs-4 text-justify">
				<span style="font-weight: bold;">Servicio al Cliente</span>
				<br>{{Evento_LineaServicioCliente}}
			</div>
			<div class="col-xs-4 text-justify">
				<span style="font-weight: bold;">Numero Funciones</span>
				<br>{{Evento_NumeroFunciones}}
			</div>
			
			<!-- Interfaz para mostrar los datos adicionales del evento -->
			<div role="tabpanel" class="col-xs-12" style="margin-top: 15px;">
				<ul class="nav nav-tabs">
					<li id="id_tab_carga_de_documentos" ng-show="notificacion_radicado != ''" role="presentation" ng-click="muestraTab(4)">
						<a aria-controls="tab_carga_de_documentos" role="tab" data-toggle="tab" class="tipo-cursor">Carga de Documentos</a>
					</li>
					<li id="id_tab_condiciones" role="presentation" class="active" ng-click="muestraTab(1)">
						<a aria-controls="tab_condiciones" role="tab" data-toggle="tab" class="tipo-cursor">Condiciones</a>
					</li>
					<li id="id_tab_aforo" role="presentation" ng-click="muestraTab(2)">
						<a aria-controls="tab_aforo" role="tab" data-toggle="tab" class="tipo-cursor" >Aforo</a>
					</li>
					<li id="id_tab_artistas" role="presentation" ng-click="muestraTab(3)">
						<a aria-controls="tab_artistas" role="tab" data-toggle="tab" class="tipo-cursor" >Artistas</a>
					</li>
				</ul>
			
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane" id="tab_carga_de_documentos" >
						
						<form id="id_carga_documentos" action="" enctype="multipart/form-data" method="post" accept-charset="utf-8">
							<div class="col-xs-12 text-justify" ng-show="documentos_radicados == false" >
								<small class="help-block">Debe adjuntar los siguientes documentos escaneados. <br> (Tamaño de archivo: máximo 2MB, Formatos soportados: jpg y pdf ).</small>
								<br>
							</div>
							
							<div class="col-md-6 col-xs-12 text-justify" ng-repeat="documentoSolicitado in documentosSolicitados" ng-if="(documentoSolicitado.fase == 1 && documentos_radicados == false) || (documentoSolicitado.fase == 1 && documentos_radicados == true && documentoSolicitado.archivo != NULL )" style="padding: 5px !important;">
								<div class="form-group" style="margin-bottom: 0px !important;" id="form{{documentoSolicitado.tsdiddocumento}}">
									<div class="col-md-12 col-xs-12 text-justify">
										<label class="control-label" for="documento_{{documentoSolicitado.tsdiddocumento}}">{{documentoSolicitado.nombre}}</label>&nbsp;<a id="documento_requerido_{{documentoSolicitado.tsdiddocumento}}" ng-show="documentoSolicitado.archivo == null && documentoSolicitado.requerido != 0" style="color:#9c0704; font-weight: bold;">&nbsp;*Requerido</a>&nbsp;<a ng-hide="documentoSolicitado.archivo == null" id="ver_documento_{{documentoSolicitado.tsdiddocumento}}" target="_blank" href="{{root}}upload/documentos/{{documentoSolicitado.archivo}}">Ver Documento</a>
										<input ng-show="documentos_radicados == false" class="form-control input-sm" type="file" name="documentos[]" id="documento_{{documentoSolicitado.tsdiddocumento}}">
									</div>
									<div ng-show="documentos_radicados == false" class="col-md-8 col-xs-12 text-justify">
										<progress id="barra_estado_{{documentoSolicitado.tsdiddocumento}}" class="col-10 col-md-10 col-xs-10 progress" style="padding-left: 0px !important; padding-right: 0px !important; margin-bottom: 0px;" max="100" value="0"></progress>
										<span id="span_{{documentoSolicitado.tsdiddocumento}}" class="col-2 col-md-2 col-xs-2 " style="padding-right: 0px;padding-left: 5px;font-size: 13px;padding-top: 4px;">0%</span>										
									</div>
									<div ng-show="documentos_radicados == false" class="col-md-4 col-xs-12 text-justify">
										<a type="submit" class="col-12 col-md-12 col-xs-12 btn btn-primary" ng-click="guardarDocumentos(documentoSolicitado.tsdiddocumento, Evento_CodigoEvento);" title="Cargar Documento">
											<i class="fa fa-paper-plane" style="color: #fff;"></i>
										</a>
									</div>
								</div>
							</div>

							
							<div ng-show="documentos_radicados == true && uperfil == 1" class="col-md-12 col-xs-12 text-justify" ng-repeat="documentoSolicitado in documentosSolicitados" ng-if="documentoSolicitado.fase == 2" style="padding: 35px 5px 5px 5px !important;">
								<div class="form-group col-md-6 col-xs-12 text-justify" style="margin-bottom: 0px !important;" id="form{{documentoSolicitado.tsdiddocumento}}">
									<div class="col-md-12 col-xs-12 text-justify">
										<label class="control-label" for="documento_{{documentoSolicitado.tsdiddocumento}}">{{documentoSolicitado.nombre}}</label>&nbsp;<a id="documento_requerido_{{documentoSolicitado.tsdiddocumento}}" ng-show="documentoSolicitado.archivo == null && documentoSolicitado.requerido != 0" style="color:#9c0704; font-weight: bold;">&nbsp;*Requerido</a>&nbsp;<a ng-hide="documentoSolicitado.archivo == null" id="ver_documento_{{documentoSolicitado.tsdiddocumento}}" target="_blank" href="{{root}}upload/documentos/{{documentoSolicitado.archivo}}">Ver Documento</a>
										<input ng-show="documentos_radicados == true" class="form-control input-sm" type="file" name="documentos[]" id="documento_{{documentoSolicitado.tsdiddocumento}}">
									</div>
									<div ng-show="documentos_radicados == true" class="col-md-8 col-xs-12 text-justify">
										<progress id="barra_estado_{{documentoSolicitado.tsdiddocumento}}" class="col-10 col-md-10 col-xs-10 progress" style="padding-left: 0px !important; padding-right: 0px !important; margin-bottom: 0px;" max="100" value="0"></progress>
										<span id="span_{{documentoSolicitado.tsdiddocumento}}" class="col-2 col-md-2 col-xs-2 " style="padding-right: 0px;padding-left: 5px;font-size: 13px;padding-top: 4px;">0%</span>										
									</div>
									<div ng-show="documentos_radicados == true" class="col-md-4 col-xs-12 text-justify">
										<a type="submit" class="col-12 col-md-12 col-xs-12 btn btn-primary" ng-click="guardarDocumentos(documentoSolicitado.tsdiddocumento, Evento_CodigoEvento);" title="Cargar Documento">
											<i class="fa fa-paper-plane" style="color: #fff;"></i>
										</a>
									</div>
								</div>
							</div>
							
							<!-- <div class="btn btn-primary" ngf-select ng-model="file" name="documento[]" ngf-max-size="2MB" ng-change="guardarDocumentos()">Seleccionar</div> -->
						</form>
					</div>
					<div role="tabpanel" class="tab-pane active" id="tab_condiciones">
						<div class="col-xs-12 text-justify">
							<span style="font-weight: bold;">Condiciones de Admision</span>
							<br>{{Evento_CondicionesAdmision}}
						</div>
						<div class="col-xs-12 text-justify">
							<span style="font-weight: bold;">Condiciones de Acceso Especial</span>
							<br>{{Evento_CondicionesAccesoEspecial}}
						</div>
						<div class="col-xs-12 text-justify">
							<span style="font-weight: bold;">Condiciones de Declinacion</span>
							<br>{{Evento_CondicionDeclinacion}}
						</div>
						<div class="col-xs-12 text-justify">
							<span style="font-weight: bold;">Abono Recambio</span>
							<br>{{Evento_AbonoRecambio}}
						</div>
						<div class="col-xs-12 text-justify">
							<span style="font-weight: bold;">Devolucion</span>
							<br>{{Evento_Devolucion}}
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="tab_aforo">
						<div class="col-xs-12 text-justify" ng-hide="notificacion_aforo != ''">
							<div class="form-group">
								<h6><strong>Aforo Total </strong>{{FormatearNumeros(aforoTotal)}}</h6>
							</div>
						</div>
						<div class="accordion" id="accordionExample" ng-hide="notificacion_aforo != ''">
							<div class="card" ng-repeat="aforoEvento in aforoEventos">
								<div class="card-header col-xs-12" id="aforo_{{aforoEvento.EventoLocalidadId}}">
									<button class="btn btn-link" style="width: 100%; margin: 1px 0px;" type="button" data-toggle="collapse" data-target="#{{aforoEvento.EventoLocalidadId}}" aria-expanded="false" aria-controls="{{aforoEventoEventoLocalidadId}}">
										<strong>Nombre Localidad:</strong> {{aforoEvento.NombreLocalidad}}
									</button>
								</div>
							
								<div id="{{aforoEvento.EventoLocalidadId}}" class="collapse col-xs-12" style="margin: 2px 0px;"  aria-labelledby="aforo_{{aforoEvento.EventoLocalidadId}}" data-parent="#accordionExample">
									<div class="card-body">
										<div class="col-xs-4 text-justify">
											<span style="font-weight: bold;">Acomodacion</span>
											<br>{{aforoEvento.Acomodacion}}
										</div>
										<div class="col-xs-4 text-justify">
											<span style="font-weight: bold;">Accesos Disponibles</span>
											<br>{{aforoEvento.AccesosDisponibles}}
										</div>
										<div class="col-xs-4 text-justify">
											<span style="font-weight: bold;">Aforo</span>
											<br>{{FormatearNumeros(aforoEvento.Aforo)}}
										</div>
										<div class="col-xs-4 text-justify">
											<span style="font-weight: bold;">Tiene Descuento</span>
											<br>{{aforoEvento.TieneDescuento}}
										</div>
										<div class="col-xs-4 text-justify">
											<span style="font-weight: bold;">Tipo Boleteria</span>
											<br>{{aforoEvento.TipoBoleteria}}
										</div>
										<div class="col-xs-4 text-justify">
											<span style="font-weight: bold;">Localidad Gratuita</span>
											<br>{{aforoEvento.LocalidadGratuita}}
										</div>
										<div class="col-xs-4 text-justify">
											<span style="font-weight: bold;">Valor Individual Boleta</span>
											<br>{{FormatearNumeros(aforoEvento.ValorIndividualBoleta)}}
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Interfaz para notificar al usuario sobre las respuestas del servidor -->
						<div class="col-md-7" ng-show="notificacion_aforo != ''">
							<div class="alert text-justify" role="alert" style="font-size: 16px;">
								{{notificacion_aforo}}
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="tab_artistas">
						<table class="table table-striped" ng-hide="notificacion_artista != ''">
							<thead>
								<th>Nombre Artista</th>
								<th>Genero</th>
								<th>Tipo</th>
								<th>Otro</th>
							</thead>
							<tbody>
								<tr ng-repeat="artistaEvento in artistaEventos">
									<td>{{artistaEvento.NombreArtista}}</td>
									<td>{{artistaEvento.Genero}}</td>
									<td>{{artistaEvento.Tipo}}</td>
									<td>{{artistaEvento.Otro}}</td>
								</tr>
							</tbody>
						</table>
						<!-- Interfaz para notificar al usuario sobre las respuestas del servidor -->
						<div class="col-md-7" ng-show="notificacion_artista != ''">
							<div class="alert text-justify" role="alert" style="font-size: 16px;">
								{{notificacion_artista}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <input type="button" class="btn btn-primary" style="margin: 20px 10px;" value="Guardar Documentos" ng-click=""> -->
			<input ng-show="documentos_completos == true && documentos_radicados == false" type="button" class="btn btn-primary" style="margin: 20px 10px;" value="Radicar Documentos" ng-click="radicarDocumentos(Evento_CodigoEvento, documentos_radicados)">
			<input ng-show="notificacion_radicado == ''" type="button" class="btn btn-primary" style="margin: 20px 10px;" value="Radicar Solicitud" ng-click="radicarEvento(Evento_CodigoEvento, aforoTotal, infoCosto)">
		</div>
    </div>
</div>

<!-- Interfaz para notificar al usuario sobre las respuestas del servidor -->
<div class="col-md-7" ng-show="notificacion != ''">
	<div class="alert text-justify" role="alert" style="font-size: 18px;">
		{{notificacion}}<br>
		<p ng-show="link_pulep ">
			Puede realizar su registro en el siguiente enlace: <a target="_blank" href="https://pulepapp.mincultura.gov.co/cuenta/solicitudregistro">https://pulepapp.mincultura.gov.co/</a>
		</p>
	</div>
</div>