
<style>
    .number-control { 
        padding-right: 2px !important; 
}
input.ng-dirty.ng-invalid {
  color: red
}
.mt-3 {
    margin-top: 3px !important;   
}
.mt-5 {
    margin-top: 5px !important;   
}
</style>


<div>
    <div id="modalIngresoDireccion" class="modal fade modal-change" role="dialog" aria-hidden="true" style="display: none;"></div>
    <div ng-show="validator.alert.content">
        <div class="alert alert-{{validator.alert.type}} alert-dismissable">
            <i class="fa fa-danger"></i>
            <button type="button" class="close" aria-hidden="true" ng-click="hideAlert()">×</button>
            <b>{{validator.alert.title}}</b> <span ng-bind-html="validator.alert.content"></span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading ">
                <span class="panel-title">Registro de Visita</span>
                <div class="panel-heading-controls">
                </div>
            </div>
            
            <div class="panel-body">
                <form name="form" class="form-horizontal">
                    <div  class="form-group has-feedback simple">
                        <div class="col-lg-12" >
                            <!-- <esri-scene-view map="vm.map"  id="viewDiv" view-options="{zoom:13, center:[-76.52,3.435]}" on-create="vm.onViewCreated" on-error="vm.onViewError" ng-hide="vm.showViewError" style="height: 70vh;"></esri-scene-view> -->
                        </div>                        
                        <span>
                            <strong>Consecutivo</strong> {{visita.idVisita}}<br>
                        </span>
                        <span>
                            <strong>Estado</strong> {{visita.estado.nombre}}<br>
                        </span>
                        <span>
                            <strong>Visitador</strong> {{visita.visitador.firstName+' '+visita.visitador.lastName}}<br>
                        </span>
                        <span>
                            <strong>Revisor</strong> {{visita.supervisor.firstName+' '+visita.supervisor.lastName}}<br>
                        </span>
                        <span>
                            <strong>Tipo de Visita</strong> {{visita.tipoVisita.descripcion}}<br>
                        </span>
                        <span ng-if="visita.solicitud.radicado!==null">
                            <strong>Radicado Solicitud</strong> {{visita.solicitud.radicado}}<br>
                        </span>
                        <span ng-if="visita.solicitud.radicadohijo!==null">
                            <strong>Radicado Respuesta</strong> {{visita.solicitud.radicadohijo}}<br>
                        </span>
                        <span ng-if="visita.radicadoInspeccion!==null">
                            <strong>Radicado Remisión a Inspección</strong> {{visita.radicadoInspeccion}}<br>
                        </span>                        
                    </div>
                    <button class="btn btn-sm btn-primary" 
                            ng-click="tipoFormulario=tipoFormulario=='dinámico'?'estático':'dinámico'">
                            Formulario {{tipoFormulario=='dinámico'?'estático':'dinámico'}}
                    </button>
                    <div ng-show="tipoFormulario=='dinámico'">
                        <div class="row mt-5" ng-repeat="campo in camposDinamicosVisita track by $index" >
                            <div class="row align-items-center" ng-if="campo.tipo == 'texto'">
                                <div class="col-md-12">                                            
                                    <textarea class="form-control input-xlarge" ng-model="input.valor"  style="height:150"></textarea>
                                </div>
                            </div>
                            <div class="row align-items-center"  ng-if="campo.tipo == 'imagen'">

                                <div class="col-md-12">   
                                    <input-file2 class="col-md-12" max="4" label="{{input.nombre}}" codigo="input.codigo" model="inputFiles[input.codigo]" callback-function="saveItem(input)"></input-file2>
                                        <a  href="../../saul2/upload/documentos/{{input.valor}}" 
                                            target="_blank"><img src="../../saul2/upload/documentos/{{input.valor}}"  
                                            width="50px" ng-show="input.valor"></a>                                        
                                        <button class="btn btn-sm btn-primary" 
                                                ng-click="eliminarImagen(input, $indexFV)"
                                                ng-show="input.valor">
                                                Eliminar imagen
                                        </button>
                                </div>
                            </div>
                        </div> 
                        <div class="row mt-5">
                            <button class="btn btn-sm btn-primary" 
                                ng-click="agregarCampoFormularioDinamico('texto')">
                                Agregar texto
                            </button>  
                            <button class="btn btn-sm btn-primary" 
                                ng-click="agregarCampoFormularioDinamico('imagen')">
                                Agregar imagen
                            </button>  
                        </div>       
                    </div>
                    <div ng-show="tipoFormulario=='estático'" class="form-group has-feedback simple"  ng-repeat="campo in camposformularioVisita track by $index">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>{{campo.nombre}}</h4>
                            </div>
                        </div>
                        
                        <!-- Construcción de Grid -->
                        
                        <!-- Encabezados-->
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="col-md-12" ng-if="campo.arrayDescripcion.length > 1">
                                    <div class="col-md-{{12-((12 / campo.arrayDescripcion.length) | number:0)*(campo.arrayDescripcion.length-1)}}  text-center" >
                                        <strong>{{campo.arrayDescripcion[0]}} </strong> 
                                    </div>
                                    <div class="col-md-{{(12 / campo.arrayDescripcion.length) | number:0}} text-center" ng-repeat="subtitulo in campo.arrayDescripcion | limitTo:50:1">
                                        <strong>{{subtitulo}}</strong>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <!-- Fin encabezados-->
                        
                        <div class="row" ng-repeat="arrayItem in campo.arrayItems track by $index" ng-if="campo.arrayItems[0].item.items.length > 1" style="margin-top:3px;">
                            <div class="col-md-12">
                                <!-- -->
                                <hr style="margin-top: 5px !important; margin-bottom: 5px !important;">
                                <div class="col-md-{{12-((12 / campo.arrayDescripcion.length) | number:0)*(campo.arrayDescripcion.length-1)}}" style="margin-top:5px !important">
                                    <span ng-if="campo.arrayDescripcion.length>campo.arrayItems[0].item.items.length">
                                        {{arrayItem.item.nombre}}
                                    </span> 
                                    <!-- //ng-if="campo.arrayItems[$index].item.items[0].tipoItem=='texto' && campo.arrayDescripcion.length==campo.arrayItems[0].item.items.length"   -->
                                    <input type="text" class="form-control"
                                     ng-if="campo.arrayDescripcion.length<=campo.arrayItems[0].item.items.length && campo.arrayItems[$index].item.items[0].tipoItem!=='select-one'"
                                     
                                     ng-model="campo.arrayItems[$index].item.items[0].valor" value="{{campo.arrayItems[$index].item.items[0].valor}}" ng-blur="saveItem(campo.arrayItems[$index].item.items[0])">
                                    
                                    
                                    <select class="form-control input-xlarge" 
                                            ng-model="campo.arrayItems[$index].item.items[0].valor" 
                                            ng-if="campo.arrayItems[$index].item.items[0].tipoItem=='lista'" 
                                            ng-options="opcion in campo.arrayItems[$index].item.items[0].parametros.opciones"
                                            ng-blur="saveItem(input)">                                                                      
                                    </select>
                                 
                                    <select class="form-control"
                                        ng-model="arrayItem.item.items[0].valor" 
                                        ng-init="arrayItem.item.items[0].valor=arrayItem.item.items[0].valor*1;getDominio(campo.arrayItems[$index].item.items[0].parametros['dominio'])" 
                                        ng-if="campo.arrayItems[$index].item.items[0].tipoItem=='select-one'"
                                        ng-blur="saveItem(arrayItem.item.items[0])"
                                        ng-options="dominio.id as dominio.nombre for dominio in arrayDominio[campo.arrayItems[$index].item.items[0].parametros['dominio']]">
                                    </select>
                                   
                                </div>
                                <div class="col-md-{{(12 / campo.arrayDescripcion.length) | number:0}}" ng-repeat="input in arrayItem.item.items" ng-if="(campo.arrayDescripcion.length==campo.arrayItems[0].item.items.length && $index>0) || campo.arrayDescripcion.length>campo.arrayItems[0].item.items.length">
                                    <input type="text" name="{{input.valor}}" class="form-control" ng-model="input.valor" value="{{input.valor}}"  ng-if="input.tipoItem === 'texto-min' &&  input.soloLectura==0" ng-blur="saveItem(input)"> 
                                    
                                    <input type="number" string-to-number step ="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" class="form-control number-control" ng-model="input.valor" value="{{input.valor}}"  ng-blur="saveItem(input)" ng-if="(input.tipoItem === 'numero' || input.tipoItem === 'decimal')  &&  input.soloLectura==0" >
                                    
                                    <select class="form-control input-xlarge"
                                            ng-model="input.valor"  
                                            value="{{input.valor}}"
                                            ng-init="input.valor=''" 
                                            ng-if="input.tipoItem === 'lista' &&  input.soloLectura==0" 
                                            ng-blur="saveItem(input)"
                                            ng-options="opcion in input.parametros.opciones">
                                    </select>
                                    
                                    
                                    
                                    
                                    <input type="date" class="form-control input-xlarge" ng-if="input.tipoItem === 'fecha'" title="{{input.descripcion}}" value="{{input.valor}}" ng-model="input.valor" ng-blur="saveItem(input)" date-serializer> 
                                </div>
                            </div>
                        </div>
                        <!-- Fin Construcción de Grid -->
                        
                        
                        <div  ng-repeat="arrayItem in campo.arrayItems track by $index" ng-if="campo.arrayItems[0].item.items.length == 1">
                            <!-- Solo lectura -->
                            <div class="col-md-6" ng-if="arrayItem.item.items[0].soloLectura==1" >
                                <label class="control-label" >--{{ arrayItem.item.nombre }}</label>
                                <div class="col-md-8" ng-repeat="input in arrayItem.item.items">                                     
                                    <input type="text" 
                                           class="form-control input-xlarge"                                           
                                           title="{{input.descripcion}}" 
                                           value="{{input.valor}}"
                                           readonly="readonly"
                                           value="{{ camposLectura[0][input.codigo] }}"
                                           ng-blur="saveItem(input)">
                                </div>
                            </div>
                            <!-- Fin Solo Lectura -->
                            
                            <!-- Texto Mediano -->
                            <div class="col-md-6" ng-if="(arrayItem.item.items[0].tipoItem === 'texto-min' || arrayItem.item.items[0].tipoItem === 'texto-corto' ) && arrayItem.item.items[0].soloLectura==0" >  
                               
                                <div class="col-md-12" ng-repeat="input in arrayItem.item.items">
                                    <label class="control-label" ng-if="!arrayItem.item.items[0].parametros.label">{{ arrayItem.item.items[0].nombre }}</label>
                                    <label class="control-label" ng-if="arrayItem.item.items[0].parametros.label">{{ arrayItem.item.items[0].parametros.label }}</label>
                                    <div ng-show="!(form[input.codigo].$pristine && form[input.codigo].$untouched && input.valor) && !(form[input.codigo].$dirty || !input.valor)" >
                                        Error de visualización
                                    </div>
                                    
                                    <div class="input-group" ng-show="form[input.codigo].$pristine && form[input.codigo].$untouched && input.valor">
                                        <input type="text" name="{{input.codigo}}"
                                            class="form-control"
                                            ng-model="input.valor"
                                            title="{{input.descripcion}}" 
                                            ng-readonly="form[input.codigo].$untouched && input.codigo">
                                        <div class="input-group-addon" >
                                            <i class="fa fa-lock" aria-hidden="true" ng-click="form[input.codigo].$setTouched();form[input.codigo].$setDirty()" style="cursor: pointer; "></i>
                                        </div>
                                    </div>
                                    <input type="text" name="{{input.codigo}}" class="form-control" ng-model="input.valor" title="{{input.descripcion}}" ng-show="form[input.codigo].$dirty || !input.valor" ng-change="form[input.codigo].$setTouched()" ng-blur="saveItem(input)">
                                </div>
                            </div>
                            <!-- Fin Texto Mediano -->
                           
                            <!-- texto corto -->
                            <div class="col-md-6" ng-if="arrayItem.item.items[0].tipoItem === 'texto' && arrayItem.item.items[0].soloLectura==0" >
                                <!-- <div class="col-md-3" ng-if="$index % 2 == 0">
                                    {{arrayItem.item.nombre}} 
                                </div>
                                <div class="col-md-3 col-md-offset-1" ng-if="$index % 2 != 0">
                                    {{arrayItem.item.nombre}} 
                                </div> -->
                                <div class="col-md-12" ng-repeat="input in arrayItem.item.items">    
                                    
                                    <label class="control-label" >{{ arrayItem.item.nombre }}</label>                                 
                                    <input type="text" 
                                           class="form-control input-xlarge"
                                           ng-model="input.valor"
                                           title="{{input.descripcion}}"
                                           value="{{input.valor}}"
                                           ng-blur="saveItem(input)">
                                </div>
                            </div>
                            <!-- Fin texto -->
                            
                            <!-- Lista -->
                            <div class="col-md-6" ng-if="arrayItem.item.items[0].tipoItem === 'lista' && arrayItem.item.items[0].soloLectura==0">
                                <div class="col-md-12" ng-repeat="input in arrayItem.item.items">
                                    
                                    <label class="control-label" ng-if="!arrayItem.item.items[0].parametros.label">{{ arrayItem.item.items[0].nombre }}</label>
                                    <label class="control-label" ng-if="arrayItem.item.items[0].parametros.label">{{ arrayItem.item.items[0].parametros.label }}</label>        
                                    <select class="form-control input-xlarge" 
                                            ng-model="input.valor" 
                                            ng-options="opcion in input.parametos.opciones" 
                                            ng-blur="saveItem(input)">                                                                                
                                    </select>
                                </div>
                            </div>
                            <!-- Lista -->


                             <!-- Dirección -->
                            <div class="col-md-6" ng-if="arrayItem.item.items[0].tipoItem === 'direccion' && arrayItem.item.items[0].soloLectura==0">
                                <div class="col-md-12" ng-repeat="input in arrayItem.item.items">
                                    <label class="control-label">{{arrayItem.item.items[0].parametros.label==undefined?arrayItem.item.items[0].nombre:arrayItem.item.items[0].parametros.label}}</label>
                                    <input  placeholder="Dirección" class="form-control" type="text" ng-click="obtenerModalIngresoDireccion(input)" readonly="readonly"
                                        ng-model="input.valor" name="direccion" minlength="6" />                                    
                                </div>
                            </div>
                            <!-- Dirección -->
                            
                            <!-- select-one -->
                            <div class="col-md-6" ng-if="arrayItem.item.items[0].tipoItem =='select-one' && arrayItem.item.items[0].soloLectura==0">
                                <div class="col-md-12" ng-repeat="input in arrayItem.item.items">
                                    <label class="control-label" ng-if="!arrayItem.item.items[0].parametros.label">{{ arrayItem.item.items[0].nombre }}</label>
                                    <label class="control-label" ng-if="arrayItem.item.items[0].parametros.label">{{ arrayItem.item.items[0].parametros.label }}</label>
                                    <!-- <input type="text" number-mask=""  class="form-control input-xlarge" 
                                           title="{{input.descripcion}}" 
                                           
                                           ng-model="input.valor"> -->
                                    <select class="form-control" ng-model="input.valor" 
                                        ng-init="input.valor=arrayItem.item.items[0].valor*1;getDominio(arrayItem.item.items[0].parametros['dominio'])" 
                                        value="{{input.valor}}" ng-options="dominio.id as dominio.nombre for dominio in arrayDominio[arrayItem.item.items[0].parametros['dominio']]" ng-blur="saveItem(input)">
                                    </select>
                                </div>
                            </div>
                            <!-- select-one -->

                      
                            <!-- Porcentaje -->
                            <div class="col-md-6" ng-if="(arrayItem.item.items[0].tipoItem == 'porcentaje') && arrayItem.item.items[0].soloLectura==0">
                                <div class="col-md-12" ng-repeat="input in arrayItem.item.items">
                                    <label class="control-label" >{{ arrayItem.item.nombre }}</label>   
                                    <div class="input-group">
                                        <input type="number" number-mask=""  class="form-control input-xlarge" 
                                            title="{{input.descripcion}}" 
                                            value="{{input.valor}}"
                                            ng-model="input.valor"
                                            ng-blur="saveItem(input)">
                                        <div class="input-group-addon" >
                                            <i class="fa fa-percent" aria-hidden="true" ></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fin Porcentaje -->

                            <!-- Número -->
                            <div class="col-md-6" ng-if="(arrayItem.item.items[0].tipoItem == 'numero' || arrayItem.item.items[0].tipoItem == 'decimal') && arrayItem.item.items[0].soloLectura==0">
                                <div class="col-md-12" ng-repeat="input in arrayItem.item.items">
                                   <label class="control-label" >{{ arrayItem.item.nombre }}</label>        
                                   <input type="number" number-mask=""  class="form-control input-xlarge" 
                                          title="{{input.descripcion}}" 
                                          value="{{input.valor}}"
                                          ng-model="input.valor"
                                          ng-blur="saveItem(input)">
                               </div>
                           </div>
                           <!-- Fin Número -->

                            
                            <!-- Fecha -->
                            <div class="col-md-6" ng-if="arrayItem.item.items[0].tipoItem == 'fecha' && arrayItem.item.items[0].soloLectura==0">
                                <div class="col-md-12" ng-repeat="input in arrayItem.item.items">
                                    <label class="control-label" >{{ arrayItem.item.nombre }}</label>        
                                    <input type="date" date-input
                                           class="form-control input-xlarge" 
                                           title="{{input.descripcion}}" 
                                           value="{{input.valor}}"
                                           ng-model="input.valor"
                                           ng-blur="saveItem(input)"
                                           date-serializer>
                                </div>
                            </div>
                            <!-- Fin Fecha -->
                            
                            
                            <!-- Hora -->
                            <div class="col-md-6" ng-if="arrayItem.item.items[0].tipoItem == 'hora' && arrayItem.item.items[0].soloLectura==0">
                                <div class="col-md-12" ng-repeat="input in arrayItem.item.items">
                                    <label class="control-label" >{{ arrayItem.item.nombre }}</label>        
                                    <input type="time"  
                                           ng-model-options="{timezone:'-0500'}"
                                           class="form-control input-xlarge" 
                                           title="{{input.descripcion}}" 
                                           ng-change="saveItem(input)"
                                           ng-model="input.valor"
                                           date-serializer>
                                </div>
                                
                            </div>
                            <!-- Fin Hora -->
                            
                            
                          
                            <!-- texto-largo -->
                            <div class="col-md-12"  ng-if="arrayItem.item.items[0].tipoItem == 'texto-largo' && arrayItem.item.items[0].soloLectura==0">
                                <div class="col-md-12" ng-repeat="input in arrayItem.item.items">
                                    <label class="control-label" >{{ arrayItem.item.nombre }}</label>                 
                                    <textarea class="form-control input-xlarge" ng-model="input.valor"  ng-blur="saveItem(input)" style="height:150"></textarea>
                                </div>
                            </div>
                            <!-- Fin texto-largo -->
                            
                            <!-- Imagen -->         
                            <div class="col-md-6" ng-if="arrayItem.item.items[0].tipoItem == 'imagen' && arrayItem.item.items[0].soloLectura==0">
                                <div class="col-md-12" >
                                    <div class="col-md-12"  ng-repeat="input in arrayItem.item.items">
                                        <!-- ****<input-file2 max="4" label="{{input.nombre}}" description="" model="inputFiles[input.codigo]" 
                                        required="{{requiredLicencia}}"></input-file>****
                                        inputImage={{input}} -->
                                        <input-file2 max="4" label="{{input.nombre}}" codigo="input.codigo" model="inputFiles[input.codigo]" callback-function="saveItem(input)"></input-file2>
                                        <a  href="../../saul2/upload/documentos/{{input.valor}}" 
                                            target="_blank"><img src="../../saul2/upload/documentos/{{input.valor}}"  
                                            width="50px" ng-show="input.valor"></a>                                        
                                        <button class="btn btn-sm btn-primary" 
                                                ng-click="eliminarImagen(input, $indexFV)"
                                                ng-show="input.valor">
                                                Eliminar imagen
                                        </button>
                                    </div>
                                </div>
                            </div> 
                            <!-- Fin Imagen -->
                        </div>
                        
                        
                        
                    </div>    
                    
                    <!-- Archivos Adjuntos -->       


                    <div class="col-md-12"  ng-if="visita.tipoVisita.codigo!=='control_lioep_anexo'">
                        <h4>Archivos Adjuntos</h4>
                        <table class="table table-striped">
                            <tr ng-repeat="visitaxdocumento in visitasxdocumento track by $index" ng-if="visitaxdocumento.documento.nombre=='Adjunto Visita'">
                                <td class="col-md-6">Adjunto {{visitaxdocumento.idVisitaXDocumento}}</td>
                                <td class="col-md-3"><a class="btn btn-primary" href="{{root}}upload/documentos/{{visitaxdocumento.archivo}}" target="blank">Descargar</a></td>
                                <td class="col-md-3"><button class="btn btn-warning" ng-click="removeFileAdjunto(visitaxdocumento.idVisitaXDocumento)">Eliminar</button></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <input type="file" class="form-control" name="uploadedfile" ng-model="adjuntos" file-upload>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- Fin Archivos Adjuntos -->
                    
                    <div class="col-md-12" ng-if="visita.arrayVisitasHijas.length>0">
                        <h4>Visitas Asociadas</h4>
                        <table class="table table-striped">
                            <tr ng-repeat="visita in visita.arrayVisitasHijas">
                                <td class="col-md-2">{{visita.idVisita}}</td>
                                <td class="col-md-5">{{visita.direccionQueja}}</td>
                                <td class="col-md-3">{{visita.estado.nombre}}</td>
                                <td class="col-md-2"><a href="#!/visita/generar/{{visita.idVisita}}" class="btn btn-primary" target="_blank">Ver</a></td>
                            </tr>
                            <tr>
                                <td colspan="3" *ngIf="visita.tipoVisita.codigo='control_lioep'">
                                    <button  class="btn btn-warning" ng-click="agregarNuevaVisita()">Agregar nueva visita</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label">Comentarios internos del proceso</label>                 
                            <textarea class="form-control input-xlarge" ng-model="comentariointerno" style="height:150"></textarea>
                        </div>
                    </div> 

                    <div class="row" ng-if="visita.tipoVisita.codigo!=='control_lioep_anexo'">
                        <div class="col-md-12">
                            <label class="control-label">Respuesta a solicitante</label>                 
                            <textarea class="form-control input-xlarge" ng-model="visita.respuestasolicitante" ng-blur="saveValueVisita('respuestasolicitante', 'respuestasolicitante')" style="height:150"></textarea>
                        </div>
                    </div> 


                    
                    <div class="row padding-sm text-right-sm" ng-if="accion=='generar'">
                        <button class="btn btn-primary" ng-click="setCargarXls(true)">Cargar XLS</button>
                        <a class="btn btn-primary" value="Ver informe" target="_blank" href="{{root}}ver_visita/{{visita.idVisita}}">Ver informe</a>
                        <input type="submit" class="btn btn-primary" ng-click="save(0)" value="Guardar en Borrador" />
                        <input type="submit" class="btn btn-primary" ng-click="save(1)" ng-disabled="form.$invalid"value="Registrar Visita" />
                        ó
                        <a ui-sref="listar-peticion">Cancelar</a>
                    </div>
                    <div class="row" ng-if="cargarXls!==false">
                        <h4>Ingrese el archivo excel para cargar información a la visita.</h4>
                        {{dataPlantillaXls}}
                        <input-file2 max="4" label="Plantilla Excel" model="dataPlantillaXls"></input-file2>
                        <button class="btn btn-warning" ng-click="cargarXlsVisita()">Cargar</button>
                    </div>
                    {{accion}}
                    <div ng-if="accion=='firmar'">
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Envío de notificaciones</h4>
                            </div>
                        </div>  
                        <div class="row padding-sm text-left-sm">
                            <table class="table table-striped">
                                <tr>
                                    <td>Seleccionar</td>
                                    <td>Nombre</td>
                                    <td>Email</td>
                                </tr>
                                <tr ng-repeat="notificacion in notificaciones track by $index">
                                    <td><input type="checkbox" ng-value="true"  ng-model="notificaciones[$index]['enviar']"></td>
                                    <td>{{notificacion.nombre}}</td>
                                    <td>{{notificacion.valor}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    
                    
                
                    <div  ng-if="accion=='revisar'">
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Revisión de la Visita</h4>
                            </div>
                        </div>                      
                        <div class="row padding-sm text-right-sm">
                           
                            
                            <a class="btn btn-primary" value="Ver informe" target="_blank" href="{{root}}ver_visita/{{visita.idVisita}}">Ver informe</a>
                            <input type="submit" class="btn btn-primary" ng-click="save(0)" value="Guardar" />
                            <input type="submit" class="btn btn-warning" ng-click="save('devuelto')" ng-disabled="form.$invalid" value="Devolver" />
                            <input type="submit" class="btn btn-primary" ng-click="save('revisado')" ng-disabled="form.$invalid" value="Pasar a firma" />
                            ó
                            <a ui-sref="listar-peticion">Cancelar</a>
                        </div>
                    </div>

                    <div  ng-show="accion=='firmar'">
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Firma de Visita</h4>
                            </div>
                        </div>  
                          
                          
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label">Estado final de visita</label>     
                                <select class="form-control input-xlarge" 
                                        ng-model="estadoFinalVisita"                                         
                                        ng-options="opcion.id as opcion.nombre for opcion in arrayEstadoFinalVisita">
                                </select>
                            </div>
                            
                            <div class="col-md-8">
                                <div class="col-md-6">
                                    <input type="checkbox" ng-model="nuevaVisita.requiereVisita" > Requiere de una nueva Visita?
                                </div>             
                                <div class="col-md-6" ng-show="nuevaVisita.requiereVisita==true">
                                    <input type="date" date-input
                                    class="form-control input-xlarge"                                           
                                    ng-model="nuevaVisita.fecha_visita"
                                    date-serializer>
                                <!-- <input type="date" ng-model="nuevaVisita.fecha_visita" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />                                         -->
                                </div>
                            </div>

                        </div>
                        <div class="row padding-sm text-right-sm">
                            <a class="btn btn-primary" value="Ver informe" target="_blank" href="{{root}}ver_visita/{{visita.idVisita}}">Ver informe</a>
                            <input type="submit" class="btn btn-primary" ng-click="save(0)" value="Guardar" />
                            <input type="submit" class="btn btn-warning" ng-click="save('devuelto')" ng-disabled="form.$invalid" value="Devolver" />
                            <input type="submit" class="btn btn-primary" ng-click="save('firmado')" ng-disabled="form.$invalid" value="Firmar" />                            
                            <a class="btn btn-primary" value="Ver informe" target="_blank" href="{{root}}visita/respuestasolicitud/{{visita.idVisita}}">Previsualizar respuesta</a>
                            ó
                            <a ui-sref="listar-peticion">Cancelar</a>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
