<script>
	$(document).ready(function () {
		$('[data-toggle="tooltip"]').tooltip();
		$(".tag").on('DOMNodeInserted', function () {
			$('[data-toggle="tooltip"]').tooltip();
		});
		$(".close").on('DOMNodeInserted', function () {
			$('[data-toggle="tooltip"]').tooltip();
		});
	});</script>


<!--Panel de Información General-->
<div class="panel panel-success">
	<div class="panel-heading ">
		<span class="panel-title">Información General {{ solicitud.tiposolicitud.nombre }}</span>
	</div>
	<div class="panel-body">
		<div>
			<uib-tabset active="activeJustified" justified="true">
				<uib-tab index="0" heading="Solicitud">
					<strong>IdSolicitud: </strong>{{ solicitud.idsolicitud}}<br>
					<strong>Tipo Solicitud: </strong>{{ solicitud.tiposolicitud.nombre }}<br>
					<strong>Radicado:  </strong><a target="_blank" href="http://www.cali.gov.co/aplicaciones/orweb/orweb/principal.php?id={{ solicitud.radicado}}">{{ solicitud.radicado}}</a><br>
					<span ng-if="solicitud.radicadohijo !== null"><strong>Radicado Respuesta:  </strong><a target="_blank" href="http://www.cali.gov.co/aplicaciones/orweb/orweb/principal.php?id={{ solicitud.radicadohijo}}">{{ solicitud.radicadohijo}}</a><br></span>
					<strong>Fecha: </strong>{{ solicitud.fechainicial.timestamp * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}<br>
					<strong>Dias Transcurridos: </strong>{{ diastranscurridos}}<br>
					<strong>Estado: </strong>{{ solicitud.estado.nombre}}<br>						
					<strong>Areá del predio declarada por el solicitante: </strong>{{ eir.areapredio}} mt<sup>2</sup><br>
					<strong>Areá para las actividades declarada por el solicitante: </strong>{{ eir.areaxactividades}} mt<sup>2</sup><br>
					<span ng-if="eir.matriculainmobiliaria != ''">	
						<strong>Matricula Inmobiliaria: </strong>{{ eir.matriculainmobiliaria}}<br>
					</span>
					<strong>Licencia de Construcción: </strong>{{ eir.licenciaconstruccion}}<br>	
					<span ng-if="eir.licenciaconstruccion == 'Si'">							
						<strong>Número de Licencia: </strong>{{ eir.numerolicencia}}<br>
						<strong>Curaduría Urbana: </strong>{{ eir.curaduriaurbana}}<br>
					</span>
				</uib-tab>
				<uib-tab index="1" heading="Predial">
					<strong>Número Predial Nacional:  </strong>{{ solicitud.nomenclatura.predio.codigounico}}<br>
					<span ng-if="eir.numeropredial != ''">			
						<strong>Número Predial Local:  </strong>{{ eir.numeropredial}}<br>
					</span>
					<strong>Dirección:  </strong>{{ solicitud.nomenclatura.direccion}} {{ solicitud.nomenclatura.informacionadicional}} - <i class="fa fa-map-marker"></i><a target="_blank" href="https://www.google.com/maps/place/{{ solicitud.nomenclatura.direccion}},+Cali,+Valle+del+Cauca/"> Ver En Mapa</a><br>
					<strong>Area:  </strong>{{ solicitud.nomenclatura.predio.area | number:2 }} mt<sup>2</sup><br>
					<strong>Comuna  </strong>{{ solicitud.nomenclatura.predio.barrio.idcomuna}}<br>
					<strong>Barrio:  </strong>{{ solicitud.nomenclatura.predio.barrio.nombre}}<br>
				</uib-tab>
				<uib-tab index="2" heading="Radicados">
					<span  ng-repeat="radicados in radicados.data">
						<strong>Solicitud: </strong>{{ radicados.idsolicitud}} - <strong>Radicado:  </strong><a target="_blank" href="http://www.cali.gov.co/aplicaciones/orweb/orweb/principal.php?id={{ radicados.radicado}}">{{ radicados.radicado}}</a>
						/ <strong>Observación:  </strong>{{ radicados.observaciones}}
						/ <strong>Usuario:  </strong>{{ radicados.usuario}}<br>	
					</span>
				</uib-tab>
				<uib-tab index="3" heading="Visita Tecnica">
					<span ng-if="datosguardados.visitatecnica.data.radicado">
						<strong>IdSolicitud: </strong>{{ datosguardados.visitatecnica.data.idsolicitud}}<br>
						<strong>Fecha: </strong>{{ datosguardados.visitatecnica.data.fechainicial.timestamp * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}<br>
						<strong>Días Transcurridos de la Solicitud Principal:  </strong>{{ datosguardados.visitatecnica.data.diasxsolicitud}}<br>	
						<strong>Días Transcurridos de la visita:  </strong>{{ datosguardados.visitatecnica.data.dias}}<br>	
						<strong>Tipo Solicitud:  </strong>{{ datosguardados.visitatecnica.data.tiposolicitud}}<br>	
						<strong>Estado  </strong>{{ datosguardados.visitatecnica.data.estado}}<br>			
						<strong>Radicado:  </strong><a target="_blank" href="http://www.cali.gov.co/aplicaciones/orweb/orweb/principal.php?id={{ datosguardados.visitatecnica.data.radicado}}">{{ datosguardados.visitatecnica.data.radicado}}</a><br>
						<span ng-if="datosguardados.visitatecnica.data.radicadohijo !== null"><strong>Radicado Respuesta:  </strong><a target="_blank" href="http://www.cali.gov.co/aplicaciones/orweb/orweb/principal.php?id={{ datosguardados.visitatecnica.data.radicadohijo}}">{{ datosguardados.visitatecnica.data.radicadohijo}}</a><br></span>
						<strong>Observación:  </strong>{{ datosguardados.visitatecnica.data.observacionesvisitatecnica}}<br>	
					</span>
				</uib-tab>		
				<uib-tab index="4" heading="Visita Dagma">
					<span ng-if="datosguardados.visitadagma.data.radicado">
						<strong>IdSolicitud: </strong>{{ datosguardados.visitadagma.data.idsolicitud}}<br>
						<strong>Fecha: </strong>{{ datosguardados.visitadagma.data.fechainicial.timestamp * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}<br>
						<strong>Días Transcurridos de la Solicitud Principal:  </strong>{{ datosguardados.visitadagma.data.diasxsolicitud}}<br>
						<strong>Días Transcurridos:  </strong>{{ datosguardados.visitadagma.data.dias}}<br>	
						<strong>Tipo Solicitud:  </strong>{{ datosguardados.visitadagma.data.tiposolicitud}}<br>	
						<strong>Estado  </strong>{{ datosguardados.visitadagma.data.estado}}<br>								
						<strong>Radicado:  </strong><a target="_blank" href="http://www.cali.gov.co/aplicaciones/orweb/orweb/principal.php?id={{ datosguardados.visitadagma.data.radicado}}">{{ datosguardados.visitadagma.data.radicado}}</a><br>
						<span ng-if="datosguardados.visitadagma.data.radicadohijo !== null"><strong>Radicado Respuesta:  </strong><a target="_blank" href="http://www.cali.gov.co/aplicaciones/orweb/orweb/principal.php?id={{ datosguardados.visitadagma.data.radicadohijo}}">{{ datosguardados.visitadagma.data.radicadohijo}}</a><br></span>
						<strong>Observación:  </strong>{{ datosguardados.visitadagma.data.observacionesvisitadagma}}<br>	
					</span>
				</uib-tab>
				<uib-tab index="5" heading="Seguridad y Justicia">
					<span ng-if="datosguardados.visitaseguridadyjusticia.data.radicado">
						<strong>IdSolicitud: </strong>{{ datosguardados.visitaseguridadyjusticia.data.idsolicitud}}<br>
						<strong>Fecha: </strong>{{ datosguardados.visitaseguridadyjusticia.data.fechainicial.timestamp * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}<br>					
						<strong>Días Transcurridos de la Solicitud Principal:  </strong>{{ datosguardados.visitaseguridadyjusticia.data.diasxsolicitud}}<br>
						<strong>Días Transcurridos:  </strong>{{ datosguardados.visitaseguridadyjusticia.data.dias}}<br>	
						<strong>Tipo Solicitud:  </strong>{{ datosguardados.visitaseguridadyjusticia.data.tiposolicitud}}<br>	
						<strong>Estado  </strong>{{ datosguardados.visitaseguridadyjusticia.data.estado}}<br>								
						<strong>Radicado:  </strong><a target="_blank" href="http://www.cali.gov.co/aplicaciones/orweb/orweb/principal.php?id={{ datosguardados.visitaseguridadyjusticia.data.radicado}}">{{ datosguardados.visitaseguridadyjusticia.data.radicado}}</a><br>
						<span ng-if="datosguardados.visitaseguridadyjusticia.data.radicadohijo !== null"><strong>Radicado Respuesta:  </strong><a target="_blank" href="http://www.cali.gov.co/aplicaciones/orweb/orweb/principal.php?id={{ datosguardados.visitaseguridadyjusticia.data.radicadohijo}}">{{ datosguardados.visitaseguridadyjusticia.data.radicadohijo}}</a><br></span>
						<strong>Observación:  </strong>{{ datosguardados.visitaseguridadyjusticia.data.observacionesvisitaseguridadyjusticia}}<br>	
					</span>
				</uib-tab>						

			</uib-tabset>
		</div>
	</div>
</div>

<!--Panel de Actividades Economicas-->
<div class="panel panel-success"  ng-if="respuesta">
	<div class="panel-heading ">
		<span class="panel-title">Actividades Económicas</span>
	</div>
	<!--{{ allTags.length | json }}-->
	<div class="panel-body">
		<ul class="list-unstyled tag">
			<span ng-if="eir.descripcionactividades != ''">							
				<strong>Descripción de actividades declarada por el solicitante: </strong>{{ eir.descripcionactividades}}<br>
				<hr>
			</span>
			<!--{{ solicitud.estado.codigo | json }}-->
			<li ng-repeat="tag in respuesta.data">
				<div class="well well-sm">							
					<span style="cursor:pointer;"  data-placement="left"  data-original-title=" " >{{tag.codigo}} - {{tag.nombre}}</span>
					<div ng-show="tag.observaciones" >
						{{tag.observaciones}}
					</div>
					<div ng-show="tag.respuesta" >						
						<span ng-if="tag.respuesta == 1"><strong>No Permitido</strong></span>
						<span ng-if="tag.respuesta == 7"><strong>Permitido</strong></span>	
					</div>
				</div>
				<form ng-show="solicitud.estado.codigo == 'pendienteaprobacionpot' && permisogestionar == true"  class="form-group" name="tag.form" novalidate>
									<div class="form-group{{ haveError('respuesta', tag.form) ? 'has-error' : ''}}">
										<label class="control-label" >Permite</label>					
										<p>
											<label class="radio">
												<input type="radio" ng-model="tag.respuesta" required name="respuesta{{$index}}" value="7" class="px" ng-change="emitirEvento()" ng-required="true">
												<span class="lbl">Si</span>
											</label>
											<label class="radio">
												<input type="radio"  ng-model="tag.respuesta" required name="respuesta{{$index}}" value="1" class="px" ng-change="emitirEvento()" ng-required="true">
												<span class="lbl">No</span>
											</label>						
											<span class="text-danger" ng-show="haveError('respuesta', tag.form)" >
												Este campo es obligatorio.
											</span>						
										</p>
										<div class="form-group {{ haveError('observacionesrespuesta', tag.form) ? 'has-error' : ''}}">
											<label class="control-label" >Observaciones</label>
											<textarea rows="4" cols="50" ng-model="tag.observaciones" name="observaciones{{$index}}" type="text"  placeholder="Ingrese las observaciones para la respuesta" class="form-control"  ng-value="{{tag.observaciones}}" ng-change="emitirEvento()"> </textarea>
											<span class="text-danger" ng-show="haveError('observacionesrespuesta', tag.form)" >
												Este campo es obligatorio.
											</span>
										</div>
									</div>
								</form>
							</li>	
						</ul>
					</div>	
				</div>		